[2016-03-15 21:26] divya1c commented on #233
Hi! is the regex feature added to mapbox gl yet?

[2016-03-15 21:33] tmcw commented on #233
If the issue is open, the task isn't done yet.

[2016-03-18 00:53] ansis opened #429 "Remove "*-ignore-placement" properties and expand the scope of "*-allow-overlap" properties"
There are currently two properties that affect how a symbol
- `-allow-overlap` determines if previous symbols affect the placement of the current symbol
- `-ignore-placement` determines if the current symbol will affect the placement of layer symbols

In most cases you want both to have the same value. I can't think of an example you would want them to be different.

**We should remove -ignore-pla

[2016-03-18 01:04] lucaswoj commented on #428
I think we cleared up this misunderstanding now. Some weird behaviour caused by collisions was throwing all of us for a loop. Feel free to re-open if I'm mistaken.

[2016-03-18 01:44] #280 closed

[2016-03-18 01:45] #262 closed

[2016-03-18 03:37] tristen commented on #428
I'd like to keep this open. Visibility doesn't behave the way all other `layout` (or `paint` for that matter) properties work.

Here's a few examples. (Note: pan the map to initiate the `featuresIn` call):
- `icon-image`: https://jsbin.com/ripema/
- `icon-rotate`: https://jsbin.com/mosobe/
- `icon-opacity`: https://jsbin.com/selife

And yes: changing these properties effects the entire layer but i

[2016-03-18 05:15] peterqliu commented on #428
I'm pretty baffled, too. @tristen what is the difference between "the entire layer," and the sum of all features in a layer?

When I turn fill to green, am I "turning the entire layer green," or going through feature by feature and making each green?

When I turn visibility to none, am I "turning the entire layer invisible," or going through, feature by feature, and making each invisible?

Are the

[2016-03-18 18:49] nickidlugash commented on #429
@ansis – @peterqliu has probably touched upon more varied styling use cases, but personally I don't have any important use cases for having different values for these two properties. I'm a fan of reducing the number of arcane properties pertaining to label placement/behavior :+1:

Not to open a can of worms, but this is what I actually want for collision properties (actual property names TBD):
1.

[2016-03-21 22:50] tmcw commented on #192
@flippmoke all Mapbox Vector Tiles sources have multiple layers, so this is required for _all_ vector tile sources, right? If so, can we reword this to

[2016-03-22 03:51] hunicole opened #431 "Specify json and png names separately for sprites"
I know that if one specifies "sprite": "https://example.com/sprite", renderers would load https://example.com/sprite.json and https://example.com/sprite.png, or https://example.com/sprite@2x.json and https://example.com/sprite@2x.png.

However, is it possible for me to specify the json and png file as separate key values. The issue I am having is that I use rails to cache my assets, resulting in d

[2016-03-22 15:21] abmai commented on #249
Hey guys! Any updates on this at all? We've recently been trying to use tokens for `fill-color` and would love to know where this is headed. Thanks!

[2016-03-22 17:11] jfirebaugh commented on #431
See #220 for our future plans for the sprite format. Most likely we are going to move to an approach such that separate files are not required at all. Until then, I don't think we are likely to change the existing sprite specification, sorry.

[2016-03-22 17:11] #431 closed, assigned to nobody

[2016-03-22 17:14] lucaswoj commented on #249
mapbox-gl-js implementation is being tracked in https://github.com/mapbox/mapbox-gl-js/pull/1932

[2016-03-22 17:38] tristen commented on #428
OK I just talked this out with @tmcw and I'm going to close this. This example illustrates weird behaviour caused by collisions and I'm willing to accept my model of how this _should_ work is not quiet correct :p

[2016-03-22 17:38] #428 closed, assigned to nobody

[2016-03-23 01:18] lucaswoj opened #433 "Document that background layers must not specify a source"
https://github.com/mapbox/mapbox-gl-js/issues/2315

[2016-03-23 23:39] lucaswoj opened #434 "Document supported file formats for "image" and "video" layers"

[2016-03-27 10:45] alex3165 opened #435 "v8.json require json-loader when using webpack"
Would be nice to not constrain webpack user to have json-loader when using mapbox-gl, the error that we have if we don't use json-loader:

[code]

The solution would be to bundle the latest.js file with v8.json together into a js file.

[2016-03-28 16:08] planemad opened #436 "Support for fill-blur?"
Any reason to not support blurs on areas?

Use case: As a cartographer I want to soften the borders of coarse landuse features like urban areas and forests at low zoom levels.

<img width="249" alt="screenshot 2016-03-28 21 35 58" src="https://cloud.githubusercontent.com/assets/126868/14082336/227bdff0-f52d-11e5-803d-2fe45a637816.png">

[2016-03-28 16:35] tmcw commented on #436
We used to support blur. Back discussion is at https://github.com/mapbox/mapbox-gl-style-spec/issues/232

[2016-03-28 17:03] planemad commented on #436
@tmcw ok, as a workaround I created a duplicate line layer and used line-blur to get the desired effect. Would have been cool if this was just a one step process.

<img width="175" alt="screenshot 2016-03-28 22 30 43" src="https://cloud.githubusercontent.com/assets/126868/14083713/bd3b6234-f534-11e5-8424-22b81f16ae19.png">

[2016-03-28 17:03] #436 closed, assigned to nobody

[2016-03-28 18:04] nickidlugash commented on #286
Anyone else have thoughts on this? Can we remove these for the next style spec version?

[2016-03-31 02:30] peterqliu opened #437 "Labeling offset lines"
There's no good way to offset labels to track their corresponding lines, at the moment. Two obstacles:
- Units (minor): line-offset is in `px`, while text-offset is in `em`s
- Frame of reference (major): line-offset is relative to the line's direction, while text-offset is relative to the map or viewport. Depending on direction, the two can get offset in opposite directions:

<img width="545" alt=

[2016-03-31 02:36] ansis commented on #437
the second issue came up here: https://github.com/mapbox/mapbox-gl-js/issues/2350 I think it's something we can fix. Unfortunately text-offset doesn't work nicely with curved lines. If you add a high offset on a curved line you'll see what I mean. The characters will either bunch up or spread out. I'm not sure how fixable that problem is.

[2016-04-01 22:46] tmcw commented on #209
Closing; the large part of this work is finished and the remaining chunk will happen on our server side.

[2016-04-01 22:46] #209 closed

[2016-04-05 22:46] vicapow opened #438 "Add "substring" feature filters"
This would be useful for showing query results as the user types.

[2016-04-06 14:19] cmtoomey opened #439 "GL Style JSON fails PATCH validation"
In testing PATCH requests against GL Styles, the Style JSON provided by GET
/styles/v1/{username}/{style_id} is not valid for PATCH requests made via PATCH
/styles/v1/{username}/{style_id}.

Actual request (with body) can be found [here](https://gist.github.com/cmtoomey/73aff4b3eabaa9c5debc229d6560b53a)

HTTP Response code is 422 Unprocessable Entity

**Postman output below**

![image](https://clo

[2016-04-06 15:03] tmcw commented on #439
This is fully covered by API documentation, so the behavior should not come as a surprise: https://www.mapbox.com/api-documentation/#update-a-style

[2016-04-06 16:13] cmtoomey commented on #439
That's fair - but I'm curious as to the existence of the behavior in the first place. Based on the [style-reference](https://www.mapbox.com/mapbox-gl-style-spec/#), created and modified aren't actually part of the spec - which is logical given the documentation and expected behavior.

However, the initial interaction with the Style JSON returns something that is off-spec. I get that parsing and de

[2016-04-06 19:54] Ccantey opened #440 "mapbox-gl-style-spec #glyph"
Update style reference:

`"glyphs": "mapbox://fonts/mapbox/{fontstack}/{range}.pbf"`

to

`"glyphs":"mapbox://fonts/:username/{fontstack}/{range}.pbf"`

per https://github.com/mapbox/mapbox-gl-js/blob/master/CHANGELOG.md

seems to break labeling without this change

[2016-04-06 19:55] tmcw commented on #440
Wouldn't it be `{username}` to follow the existing pattern?

[2016-04-06 19:58] Ccantey commented on #440
sorry, copied and pasted from changelog

[2016-04-06 20:40] jfirebaugh commented on #440
There are two different levels of substitutions here. `{fontstack}` and `{range}` should appear literally in the `glyphs` value of a style -- they are placeholders that the renderer implementation will fill in at runtime.

`:username` is a value that the style author is expected to replace with their own Mapbox account name (or by "mapbox" if the style is using predefined default fonts).

[2016-04-06 20:43] Ccantey commented on #440
Makes sense, I'm trying to work with MapZen source

[2016-04-13 14:58] tobinbradley opened #441 "glyphs property undefined"
With 8.5 I'm getting an `Uncaught TypeError: Cannot read property 'glyphs' of undefined` when used as a dependency with mapbox-gl 0.16.0. I'm using a local font path if that makes a difference (doesn't seem to when I've fiddled with it).

[code]

Running `gl-style-validate` on the style file yields no errors; there only seems to be a problem when 8.5 is used with mapbox-gl.

The error is coming fr

[2016-04-13 16:39] tmcw commented on #441
Can you provide your style in its entirety? The position of the glyphs property in the object could be the issue.

[2016-04-13 17:13] jfirebaugh commented on #441
Maybe related to https://github.com/mapbox/mapbox-gl-js/issues/2407?

cc @lucaswoj

[2016-04-13 18:02] tobinbradley commented on #441
The style file is [here](https://github.com/tobinbradley/Mecklenburg-County-GeoPortal/blob/master/app/style/bright/style.json). The glyphs property is in the object root near the top:

[code]

If simulating the problem proves to be a problem, and you're confident the solution isn't that I need to be hit with a shovel, you can simulate it with:

[code]

Error in the javascript console and a map wit

[2016-04-13 18:17] tobinbradley commented on #441
A little more info. I stuck a console.log(style.sprite) in validate_layout_property.js. It came up with the right answer 161 times (?) on page load and then hit a `Uncaught TypeError: Cannot read property 'sprite' of undefined`.

[2016-04-13 18:41] lucaswoj commented on #441
This is a bug in gl-js (https://github.com/mapbox/mapbox-gl-js/issues/2407) which will be fixed in v0.17.

[2016-04-13 18:41] #441 closed, assigned to nobody

[2016-04-15 23:58] jfirebaugh opened #442 "visibility properties can't be functions"
The documentation advertises that the `visibility` layout property for any layer type can be a function. As far as I can tell, this isn't true: neither gl-js nor gl-native nor Mapbox Studio support using functions for `visibility`. Furthermore, the use case for doing so seems marginal:
- Using a non-data-driven function for `visibility` would be basically equivalent to using `minzoom` and `maxzoom

[2016-04-21 18:34] jfirebaugh opened #444 "Remove support for SDF icons"
We should remove support for SDF icons in the next style revision. None of the default styles use them, Mapbox Studio doesn't support them, and we haven't documented how to generate or use them.

[2016-04-21 20:30] ajashton commented on #444
The lack of documentation & support in Studio is the reason these aren't used anywhere. I think they'd be greatly useful if Studio gave us an uploader (eg automatic generation from SVG) & styling UI.
- would be great for shields where you need the same design in a variety of colors
- also good for tilted perspective maps where the icons scaled for depth
- color limitation is fine if we can have di

[2016-04-22 03:01] tmcw commented on #444
My/our reasoning for not including SDFs in studio was that we were optimistic about multi-color SDF. Studio already limits icons to SVG files and SVGs without a lot of common syntax - limiting the icons to black-and-white only was (imho) a step too far that would make it seem like almost nothing was supported as an icon.

I understand the cartographic advantages of SDFs, but from a UX level, addin

[2016-04-27 06:52] jingsam opened #446 "Style json keys should not contain dots (.) or start with a dollar sign ($)"
I am trying to store style json in mongodb. Mongodb complains that keys must not contain '.' or start with a dollar sign ($). I found that metadata keys contain dot sign.
Also, paint property can have dot sign to specify class-specific paint properties. I think can be use nested keys instead, such as:

[code]

[2016-04-27 15:52] jfirebaugh commented on #446
I don't think it makes sense to limit the style specification to a subset of JSON just to support the limitations of some particular third-party database implementation. If mongodb doesn't support JSON, you'll need to stringify before storage.

[2016-04-27 15:52] #446 closed, assigned to nobody

[2016-05-03 20:00] tmcw commented on #410
@lucaswoj #407 has landed. Added a failing testcase for you in https://github.com/mapbox/mapbox-gl-style-spec/pull/447

[2016-05-03 20:10] nickidlugash opened #448 "Update documentation for `-rotation-alignment` properties?"
I think the default [here](https://github.com/mapbox/mapbox-gl-style-spec/blob/874eb64699a48cc32bb55f3032aa376113504219/reference/v8.json#L476) does not seem to match up with the [rendering implementation](https://github.com/mapbox/mapbox-gl-js/blob/31dc4ac9cf40f561a0567df38909a323a3bd9c05/js/style/style_layer/symbol_style_layer.js#L29-L32).

[2016-05-03 22:03] jfirebaugh commented on #448
Duplicate of #235.

[2016-05-03 22:03] #448 closed, assigned to nobody

[2016-05-04 19:41] samanpwbb opened #449 "Interpret encoded characters in text-field property"
Right now, typing a code for a character will not render the character, but instead will render the code:

The actual character:
![screen shot 2016-05-04 at 3 39 15 pm](https://cloud.githubusercontent.com/assets/108094/15026864/9b55c1f4-120e-11e6-8cb7-7f232861fbde.png)

Unicode:
![screen shot 2016-05-04 at 3 39 37 pm](https://cloud.githubusercontent.com/assets/108094/15026856/8ccca3c8-120e-11e6-96

[2016-05-04 20:02] samanpwbb commented on #449
I see both pros and cons to this. Fine closing, will solve the problem somewhere else.

[2016-05-04 20:02] #449 closed, assigned to nobody

[2016-05-04 21:25] tmcw commented on #389
These changes got shipped.

[2016-05-04 21:25] #389 closed, assigned to nobody

[2016-05-05 12:16] tmcw commented on #207
We aren't doing transforms like this.

[2016-05-05 12:16] #207 closed

[2016-05-06 23:21] 1ec5 opened #452 "Provide a way to format & localize numbers"
It’s possible for a style to [localize string labels](https://www.mapbox.com/help/change-language/) by choosing a language-specific field in the source. But when it comes to numeric types (elevations of peaks, for instance), the viewer is stuck with an unformatted number of the form ####.## using European digits. Ideally, it should be possible for a topo map to show elevations in #,###.## form for

[2016-05-09 17:59] lucaswoj commented on #452
👍

While we're thinking about this, we should think about units too. A couple countries (namely Burma and Liberia (😈)) are _still_ using imperial units.

[2016-05-10 20:24] #216 closed

[2016-05-11 16:01] #410 closed, assigned to nobody

[2016-05-13 14:23] fchabouis commented on #97
Just to be clear : there is currently no simple way to display icons/markers in Mapbox gl and change their color, except using the Circle layer type. Am I right ?

[2016-05-14 21:53] tmcw commented on #192
Already says vector tile source.

[2016-05-14 21:53] #192 closed

[2016-05-20 16:04] #208 closed

[2016-05-23 19:09] samanpwbb commented on #444
I share Tom's UX concerns here. It would be difficult to add SDF support to Mapbox products in a way that made sense to users, even if we generated SDFs automatically server side.

Two more points:
- Single color SDFs have limited utility. Even if a map only needs single-color icons, often designers expect to be able to place icons on a circular, rectangular, or some other more complex background

[2016-05-24 01:17] aidanlister commented on #444
As a user, I am finding the SDF thing really confusing. maki-chef doesn't seem to do anything useful, it won't let me upload an SVG that I have downloaded from maki-icons ... all I want is a circle in 21 different colors with a white stroke.

Mapbox GL is literally the best thing since google maps came out, we have been searching for a way to deal with large data sets for ever ... tried all sorts

[2016-05-24 19:21] wagerfield commented on #444
I have been using Mapbox extensively for my projects and I would be very sad to see SDF support dropped.

The single colour limitations of SDFs can surely be circumvented with layering by compositing SDF symbols upon other SDF symbols or shapes like your circles? Layering a single coloured SDF graphic (like a shopping cart or a taxi) on top of another single coloured SDF graphic (like a circle, sq

[2016-05-26 15:44] lbud opened #456 "3d extrusion (buildings etc) spec"
Spinning off of https://github.com/mapbox/mapbox-gl-js/issues/684#issuecomment-221713082: I've reimplemented @ansis's 3d building demo ([js branch](https://github.com/mapbox/mapbox-gl-js/tree/building-redux); [spec branch](https://github.com/mapbox/mapbox-gl-style-spec/tree/buildings); [shader branch](https://github.com/mapbox/mapbox-gl-shaders/tree/js-buildings)). That code is ported pretty faith

[2016-05-26 16:17] 1ec5 commented on #456
Some values of `extrusion-opacity` might lead to weird effects like the one you found, but Google Maps makes its buildings subtly transcluent to prevent tall buildings from completely obscuring surrounding streets.

Would the use case would be for, say, a realistic texture for stone façades or a window pattern on office buildings?

I think this would be useful for terrain lighting, too.

In additi

[2016-05-26 16:19] ajashton commented on #456
Awesome. We'll also need something like `extrusion-height-factor` (or https://github.com/mapbox/mapbox-gl-style-spec/issues/47) since height data will be in a variety of units (levels, meters, feet, some other non-height data to visualize such as population density).

[2016-05-26 16:26] ajashton commented on #456
There are loads of other of odd building shapes that are not suitable for simple extrusion. Since many of these are important landmarks that can't be ignored, we'll probably need some kind of separate true 3d modelling - maybe cantilevers and sky bridges would best be preprocessed into whatever this format ends up being rather than having special extrusion handling for them?

[2016-05-26 16:29] peterqliu commented on #456
Would such a 3D shape levitate in midair? or would it rest on a second, smaller shape?

[2016-05-26 16:38] lbud commented on #456
@peterqliu these
![image](https://cloud.githubusercontent.com/assets/3170312/15582167/8dad309c-233d-11e6-9368-d6eeea74cb5f.png)
are actually tons of little polygons extruded separately to form complex buildings ([see e.g.](http://www.openstreetmap.org/relation/2098969)). I would assume in the case of pedestrian bridges or cantilevered buildings they would be relations similarly modeled with multip

[2016-05-26 16:41] 1ec5 commented on #456
In the source being used in @lbud’s demo, each building _part_ is extruded individually, so imagine Fallingwater being represented by a number of building parts, some of which have a `min-height`. (In OpenStreetMap, the `min_height` and `building:min_level` tags are used even in areas that aren’t more meticulously mapped according to the “[simple 3D buildings](http://wiki.openstreetmap.org/wiki/Si

[2016-05-26 16:45] andreasviglakis commented on #456
this is great.

👍

yes? but no, not really.

![image](https://cloud.githubusercontent.com/assets/7102075/15582448/f2b68fd2-2325-11e6-9d2f-3e8d033aa5a8.png)

how would this spec deal (now or in the future) with complex but critical edge cases like the eiffel tower? would this be covered by "support for extruding lines and points?"

[2016-05-26 18:28] lucaswoj commented on #456
Would it be possible to add the `extrude-*` properties to the existing `fill` (and eventually `line`and `point`) types rather than adding a new layer type?

[2016-05-26 19:37] dpieri commented on #452
It would be very helpful for our use case to be able to do simple math in labels. We display feet everywhere on our map (I know, I know..) but we rely on Mapbox Terrain for elevation contours. These are in meters and people keep getting confused by this. Currently the text field on our contour labels is `{ele}m`, I'd love to be able to use `{ele*3.28}ft`

As far as I can tell, my only option is to

[2016-05-26 19:44] lbud commented on #456
Hmm. @lucaswoj — I considered this, but ultimately I think it makes more sense to create a new layer type (also, I should note I'm _very_ skeptical about use cases for extruding lines and points*):
- The intention behind filling in a flat area of land (or water) vs that behind creating three-dimensional shapes feel inherently very different
- Lighting affects the flat surface of an extrusion in ad

[2016-05-26 19:45] 1ec5 commented on #452
Unit customization and more general math functionality would be covered by #47. I think we should keep these two concepts separate, because (except for mixed numbers or non-positional systems like Roman or Chinese numerals) number formatting is all about text processing rather than arithmetic.

[2016-05-26 19:50] 1ec5 commented on #456
There are use cases for extruding lines and points, as opposed to having them levitate. For example, you might want to place an [elevation profile on the map](https://www.mapbox.com/blog/dc-bikeshare-revisited/), or mark cities with extruded points whose heights correspond to population or some other attribute.

[2016-05-26 19:52] lbud commented on #456
Alright; maybe we'll do those later.

[2016-05-26 21:26] peterqliu commented on #456
If it's not a significant scope creep, negative extrusions would be useful for things like strip mines/sinkholes.

edit: can just be a rectilinear cavity, not a complex shape or mesh

[2016-05-26 21:56] lbud commented on #456
@peterqliu unfortunately that is a significant scope creep for now.

edit: re edit: still significant scope creep

[2016-05-31 20:21] lucaswoj commented on #456
Could this be a [root property](https://www.mapbox.com/mapbox-gl-style-spec/#root) on the style? We would still need a `Map#setLightDirection` method.

---

Otherwise, :shipit: on this spec 😄

[2016-05-31 21:05] lucaswoj commented on #456
Will the map look funny in any situations if the lighting doesn't affect unextruded fills?

[2016-06-09 15:28] lucaswoj opened #459 "Expand support for "*-pitch-alignment" and "*-size-alignment""
The style spec has the concept of `rotation-alignment` which specifies how features are placed with respect to map rotation.
- `rotation-alignment: viewport` indicates that features should be rotated with respect to the viewport, drawn such that the top of the screen is "up".
- `rotation-alignment: map` indicates that features should be rotated with respect to the map, drawn such that north is "up

[2016-06-09 15:40] yhahn commented on #459
![rotation-pitch-alignment](https://cloud.githubusercontent.com/assets/83384/15935723/4a942190-2e36-11e6-94ab-eba36b62e1b7.png)

:+1: this makes total sense to me. It's worth noting that atm our renderers don't support this fully but it's something we can work toward.

### master gl js/native

| rotation | pitch | text support | icon support |
| --- | --- | --- | --- |
| map | map | :white_check_m

[2016-06-09 15:58] lucaswoj commented on #459
Yup! I'd prefer that to designing our spec to around present partial renderer support.

[2016-06-09 16:51] 1ec5 commented on #459
I’m implementing something similar for view-backed annotations on iOS in mapbox/mapbox-gl-native#5245. These properties will make it possible for gl-native to eventually support the same effects for GL point annotations too.

[2016-06-09 16:51] jfirebaugh commented on #459
This is 👌 .

As a third complementary property, we'll want `*-pitch-scale: {viewport,map}` (https://github.com/mapbox/mapbox-gl-js/issues/2541, https://github.com/mapbox/mapbox-gl-native/issues/2186, https://github.com/mapbox/mapbox-gl-native/issues/5040, https://github.com/mapbox/mapbox-gl-native/issues/5169).

Full set of properties:
- [x] `icon-rotation-alignment`
- [ ] `icon-pitch-alignment`
-

[2016-06-09 20:56] #416 closed, assigned to nobody

[2016-06-09 20:57] #249 closed

[2016-06-12 00:36] gertcuykens commented on #97
Can at least the icon image be consistent between street and satellite?

![image](https://cloud.githubusercontent.com/assets/863731/15988158/ddd48038-3045-11e6-98f0-3dc3bd009544.png)

![image](https://cloud.githubusercontent.com/assets/863731/15988163/36a6f894-3046-11e6-92fb-3e7c4117cd3f.png)

[2016-06-15 07:09] indus commented on #444
I really look forward to use SDF icons together with data-driven coloring (https://github.com/mapbox/mapbox-gl-js/issues/2730). There are some impressiv examples using the property functions of circle layers already. But it would be nice to have the ability to be more expressiv with an icon, or to seperate classes in a dataset with different basic shapes. Please keep it in.

[2016-06-18 18:07] stackTom commented on #47
@timrobertson100 have you found a solution to this problem?

[2016-06-18 19:42] timrobertson100 commented on #47
@stackTom - I ended up doing server side processing on UI changes as I couldn't find a way in filters.

[2016-06-20 01:00] johnnyluu commented on #459
Dear devs, is there a way for me to implement circle-pitch-alignment at the moment? I need some radius indicator on the map but the circles I added align with the viewport when I add pitch to the map, as shown in the image.

![capture](https://cloud.githubusercontent.com/assets/5201145/16180946/38436f34-36d6-11e6-93a5-3aed8963aeec.JPG)

[2016-06-21 14:14] anandthakker opened #463 "Include clustering options in documentation"
The clustering options `cluster`, `clusterRadius`, and `clusterMaxZoom` are [present in the spec definition](https://github.com/mapbox/mapbox-gl-style-spec/blob/194fc55b6a7dd54c1e2cf2dd9048fbb5e836716d/reference/v8.json#L173-L186), but do not appear in the docs because `source` properties aren't included dynamically the way that root, `layer`, `layer.layout`, and `layer.paint` properties are.

Opt

[2016-06-28 00:00] jfirebaugh commented on #273
Can someone define what "per-layer" opacity means precisely? Or with an example? E.g. if you have a layer with a red triangle at 50% opacity on top of a blue square at 50% opacity, with a "layer opacity" of 50%, how is that supposed to render?

[2016-06-28 15:27] nickidlugash commented on #273
@jfirebaugh I think like this (although I'm not sure I'm rendering @ansis's suggestion correctly):

![screen shot 2016-06-28 at 11 25 49 am](https://cloud.githubusercontent.com/assets/5607844/16421495/25a3f698-3d23-11e6-965b-2fe82a9ab5f3.png)

/cc @samanpwbb

[2016-06-28 15:33] samanpwbb commented on #273
Yep, what @nickidlugash said. I would expect the cartoCSS behavior rather than Ansis's suggested implementation in cases where there is both per-layer and per-feature opacity. Here's an example with strokes that illustrates how per-layer opacity might be preferable:

![screen shot 2016-06-28 at 11 32 59 am](https://cloud.githubusercontent.com/assets/108094/16421804/2a27a59c-3d24-11e6-8ff4-a775ad57

[2016-06-28 16:12] jfirebaugh commented on #273
Thank you, those examples are great.

I believe the annotations here are correct:

![image](https://cloud.githubusercontent.com/assets/98601/16423294/53888352-3d10-11e6-8cd9-680e02094693.png)

The cartoCSS behavior is the one that requires composited rendering (rendering the layer first to a buffer, then compositing that layer with the scene using the layer-wide opacity).

[2016-06-28 16:26] ajashton commented on #273
Normally it's not really necessary to have both per-object and per-layer opacity on the same layer, just one or the other. So if we can't fully replicate the Mapnik behavior then that's fine, just these two are key:

![screenshot-2016-06-28-12 23 15](https://cloud.githubusercontent.com/assets/126952/16423800/8658eae0-3d2b-11e6-8eef-0a8eb36f1355.png)

[2016-06-28 16:30] jfirebaugh commented on #273
With data-driven styling it's already possible to set a different fill-color rgba value for each feature. So it's pretty awkward to prohibit per-feature opacity.

[2016-07-01 22:51] jfirebaugh commented on #435
Use of mapbox-gl-js with webpack is now documented [here](https://github.com/mapbox/mapbox-gl-js#using-mapbox-gl-js-with-webpack).

[2016-07-01 22:51] #435 closed, assigned to nobody

[2016-07-02 00:48] #440 closed, assigned to nobody

[2016-07-02 00:50] jfirebaugh commented on #426
I think we should keep the existing layer types.

[2016-07-02 00:50] #426 closed, assigned to nobody

[2016-07-02 00:51] jfirebaugh commented on #371
Nah. If anything, we should promote `visibility` to a top level layer property, because it doesn't support functions like other layout properties.

[2016-07-02 00:51] #371 closed, assigned to nobody

[2016-07-02 00:53] jfirebaugh commented on #357
I later realized that this wouldn't be a good idea, because tilesets are not the only type of source: there are also GeoJSON, Image, and Video sources. We need a term that encompasses all the things where data can come from, and "source" is as good as any.

[2016-07-02 00:53] #357 closed

[2016-07-02 00:54] jfirebaugh commented on #265
We're eventually going to do auto-refs instead: https://github.com/mapbox/mapbox-gl-js/issues/1393.

[2016-07-02 00:54] #265 closed

[2016-07-02 00:55] jfirebaugh commented on #239
Let's keep the status quo here.

[2016-07-02 00:55] #239 closed

[2016-07-02 00:58] jfirebaugh commented on #231
Closing; this is something that's fairly fundamental to our data model and unlikely to change.

[2016-07-02 00:58] #231 closed

[2016-07-02 00:59] jfirebaugh commented on #364
We did this.

[2016-07-02 00:59] #364 closed

[2016-07-05 00:36] #373 closed, assigned to nobody

[2016-07-10 22:53] 1ec5 commented on #233
`regex` (or `like`) would be more discoverable/memorable, since `~` has wildly different meanings in every language.

[2016-07-11 04:32] 1ec5 commented on #104
I’ve pushed two proofs of concepts implemented in GL JS, each with a different design:

[1ec5-token-default-104](https://github.com/mapbox/mapbox-gl-js/compare/1ec5-token-default-104) implements exactly the syntax described in https://github.com/mapbox/mapbox-gl-style-spec/issues/362#issuecomment-161857532. This approach has the more straightforward implementation of the two, and there’s less repe

[2016-07-11 08:46] kkaefer commented on #104
@1ec5 that looks like a good first start, but I'm wondering if we need the `type: selection` as the root element. We could start out with any element, e.g. `[]` for concatenation, then similar to `{"ref":...}`, introduce other operators, like if/else, sort of like @tmcw's wax approach.

[2016-07-11 08:56] 1ec5 commented on #104
The `type` property isn’t particularly important in my opinion. It’s a vestige of the syntax @jfirebaugh proposed in https://github.com/mapbox/mapbox-gl-style-spec/issues/362#issuecomment-161857532, meant to align with the property function syntax. But I agree that the presence of an array already indicates concatenation pretty clearly, and a nested array can reasonably be interpreted to always me

[2016-07-12 16:56] jfirebaugh commented on #104
Let's keep the object syntax with `type` property. Arrays are already in use for `*-translate`, `*-offset`, `line-dasharray`, `text-font`, etc. Using arrays for substitutions as well is likely to lead to ambiguities that would have to be resolved with more complex heuristics, especially if we support substitutions for these properties -- which we should.

[2016-07-12 19:37] jfirebaugh commented on #104
I also prefer the syntax from `1ec5-token-default-104` / https://github.com/mapbox/mapbox-gl-style-spec/issues/362#issuecomment-161857532. With that syntax, the condition for when to use the fallback is clearer, and the implementation is straightforward. Compactness is lower down on the list of design goals for the style specification.

[2016-07-12 20:04] 1ec5 commented on #104
Unfortunately, the syntax in `1ec5-token-default-104` / https://github.com/mapbox/mapbox-gl-style-spec/issues/362#issuecomment-161857532 also means we’d be giving up some flexibility: for example, it would be impossible to have a label be `{name} ({name_en})` if `name_en` is defined, but just `{name}` otherwise.

I think it would also be inadequate as the basis for image fallback beyond what’s des

[2016-07-12 20:41] 1ec5 commented on #104
Now that we’ve abandoned the mini-language in favor of a structured syntax, software like Mapbox Studio will have to implement a WYSIWYG UI around token defaults if the feature is to be viable. It’s pretty straightforward to implement a text field containing placeholder tokens – one example is the search bar at the top of this page, with its “This repository” token.

With the `1ec5-token-selection

[2016-07-12 21:29] gertcuykens commented on #361
Can this get a slightly higher priority? I assume many users have no clew including me what range and fontstack means https://www.mapbox.com/mapbox-gl-style-spec/#glyphs Also I can't find any correlation with https://www.mapbox.com/mapbox-gl-style-spec/#layout-symbol-text-font to figure out what fonts I can use?

[2016-07-13 18:32] derrickoswald commented on #444
Just to add another use-case... highlight traced features.
We have an electric network on the map, single color: black. The user would like to see what is connected to what. A trace yields features which are connected. We highlight features by using an "in" filter on an id attribute and a long list. It works for lines. However setting icon-color doesn't work for icon-image features... because they

[2016-07-19 18:25] jfirebaugh commented on #352
Support for a [`line-offset` property](https://www.mapbox.com/mapbox-gl-style-spec/#paint-line-offset) was added. Follow-up rendering issues such as https://github.com/mapbox/mapbox-gl-js/issues/2316 should now go to separate issues.

[2016-07-19 18:25] #352 closed

[2016-07-26 17:46] tristen opened #473 "Add "raster-sharpen" property"
Particularly for satellite imagery and areas where coverage is supported at lower zoom levels it would be nice to adjust sharpening.

[2016-08-04 06:11] andrewharvey opened #475 "Support text underlines"
would be nice to have text underline capabilities. One use case is on mouse over, just like HTML pages sometimes underline hyperlinks on hover eg www.mapbox.com.

[2016-08-04 14:04] Scarysize opened #476 "Extend style spec for data-driven raster layer"
So, we are currently implementing a raster layer with data-driven styling: Our tile server delivers greyscale tile images, where the grey value represents an actual data value. We map that data value to a color value using our own fragment shader.

EDIT: To clarify, greyscale tiles save us a lot of traffic to the front-end (we measured this extensively). That's why we are doing the color mapping o

[2016-08-09 00:50] tmcw opened #478 "icon-ignore-placement vs icon-allow-overlap"
---

---

I wish I did, but I do not know the difference between these two statements. How can we explain the difference between these options better?

Previously: https://github.com/mapbox/mapbox-gl-style-spec/issues/429

[2016-08-10 19:34] scothis commented on #456
👍 for adding `lightDirection` to the root of the style. It will fit nicely alongside the defaults for `center`, `zoom`, `bearing` and `pitch`. Only concern is that we should feel comfortable that this is the only lighting setting we want to have because it will be annoying to update/deprecate it later.

[2016-08-10 19:56] nickidlugash commented on #456
@scothis we're actually thinking now of adding a `light` object to the root of the style, which will have direction, anchor, and color properties. We'll update this ticket later today with a revision of the full proposal /cc @lbud

[2016-08-12 23:39] nickidlugash commented on #456
Here's an update to @lbud's and my proposed style spec changes:
- Root properties:
  - **`light`** | Optional object
    - **`light-anchor`** | Optional enum. Default: `viewport`
    - **`light-direction`** | Optional array. Default: `[-0.5, -0.3, 1.0]`
    - **`light-color`** | Optional color. Default: `rgba(1, 1, 1, 0.75)` *
- Extrusion properties:
  - Layout:
    - **`visibility`** | Optional e

[2016-08-12 23:59] 1ec5 commented on #456
What unit is `light-direction` expressed in? Is it a real-world unit?

[2016-08-15 00:29] dpieri commented on #456
Is this spec being designed with future support for 3D terrain meshes in mind?

[2016-08-16 14:42] tmcw opened #479 "Write an explanation and include a picture of each layer type in the style spec docs"
Right now we don't explain layer types in narrative text. They have names and properties and one can infer from those, but we should be more explicit:

![2016-08-16 at 10 42 am](https://cloud.githubusercontent.com/assets/32314/17703013/2c3aa082-639e-11e6-9dbd-b6f4166261c3.png)

[2016-08-16 19:58] 1ec5 commented on #479
This would be helpful for the Mapbox iOS SDK, since by design, symbols without documentation comments are completely excluded from documentation, as if they don’t exist.

[2016-08-16 20:30] lbud opened #480 "Specify a default for property functions when property value is undefined"
In the mapbox-gl-function [`feature-defaults` branch](https://github.com/mapbox/mapbox-gl-function/tree/feature-defaults) I'm adding `reference` as an argument so that when an input to a property function is undefined, it defaults to the spec default. However, it seems to me there should also be a way to specify a user-defined default for this behavior. Does it seem reasonable to add an optional k

[2016-08-16 20:35] mourner commented on #480
I like the idea. `default` property name can be confusing though, since it can be confused with `extrusion-height` default, not the default for the input property of a function. Alternatives? `propertyDefault`?

[2016-08-16 20:58] lbud commented on #480
`propertyDefault` (or `property-default` — hyphens would be more consistent in this spec, I think) sounds good to me.

[2016-08-17 18:54] mourner opened #481 "Add a maximum for "text-offset" to avoid overflows"
Let's validate `text-offset` values so that any values `> 18` throw an error.
Will resolve https://github.com/mapbox/mapbox-gl-js/issues/3005.

[2016-08-17 21:31] yeldarby commented on #459
@johnnyluu - if you are looking for a workaround, defining a polygon with GeoJSON instead of using the Mapbox-defined Circle works pretty well.

![circle](https://cloud.githubusercontent.com/assets/870796/17753948/d54dc56a-6497-11e6-8f3f-322afc7bef28.gif)

Here is the function I wrote to generate the GeoJSON Polygon

[code]

You can use it like this:

[code]

If you need to update the circle you c

[2016-08-19 13:09] gatelli commented on #456
Amazing ! Do you have an idea of the release date ?

[2016-08-22 18:19] jfirebaugh commented on #480
Could we unify the syntax with the proposals for token defaults in #104?

[2016-08-22 21:06] lucaswoj commented on #456
Why a `light` object rather than putting the `light-*` properties directly in the root of the stylesheet? These properties are double-namespaced.

---

The other `Map#set*Property` methods have a signature like `map.setLightProperty('light-anchor', 'map')`. I like this new signature too! If we're going to support it, we should support it everywhere.

---

I appreciate that this is the naming conve

[2016-08-22 21:19] jfirebaugh commented on #456
What is the function of `extrusion-outline-color`? Does this stroke the edges of the extrusion? Is there potential for regretting this property, [as we do with `fill-outline-color`](https://github.com/mapbox/mapbox-gl-style-spec/issues/240)?

Can you say more about this? E.g. is it a technical limitation or a bug in the current code that we haven't tracked down yet? What happens if you use somethi

[2016-08-22 21:41] nickidlugash commented on #456
These are probably better options than `extrusion-min-height`. I think specifying that these are `-height` properties is important (I could be wrong, but I think the only CSS properties that are not specific in this way are the shorthand properties that combine multiple properties). So maybe either:
1. `extrusion-height` + `extrusion-bottom-height`
2. `extrusion-top-height` + `extrusion-bottom-hei

[2016-08-22 22:29] 1ec5 commented on #456
The only information that “height” provides in this context is that “top” and “bottom” are measured along the vertical (altitudinal) axis. But “top” and “bottom” already provide this context. In CSS, when an element is absolutely positioned, `top` and `bottom` also represent absolute values along the vertical axis; no `-height` or `-depth` suffix is needed.

[2016-08-22 22:56] peterqliu commented on #456
Are there situations (even in the future) when an `extrusion-bottom` or `extrusion-min-height` can actually be above the "top" of the extrusion? This might happen if we support negative extrusions in the future, and would be confusing.

how about some form of `extrusion-start`?

[2016-08-22 23:09] lbud commented on #456
@1ec5 No, it's a three-dimensional `x, y, z` vector, where `[0,0,0]` would represent light coming from inside an individual extrusion. The higher the number, the more intense the light, both in the positive and negative direction. I'm not entirely sure what's the best way to communicate this yet…

[2016-08-22 23:09] lbud commented on #456
@dpieri Presumably global map lighting properties _could_ be used if we were ever to support 3D terrain meshes, but that's not really on our radar at the moment.

[2016-08-22 23:09] lbud commented on #456
@gatelli We're hoping to release a version of gl-js supporting extrusions in early September, with gl-native support coming later.

[2016-08-22 23:09] lbud commented on #456
@lucaswoj I think the idea was for organizational purposes, though I would be open to letting all three be their own root properties. What would you prefer @lucaswoj @jfirebaugh?

[2016-08-22 23:09] lbud commented on #456
@jfirebaugh Right, this strokes the edges of the extrusion:
![image](https://cloud.githubusercontent.com/assets/3170312/17874401/478af6fc-6880-11e6-81f0-9cdd843dd9c1.png)
There is definitely potential for regretting this property. I say this mostly because one of my biggest looming concerns is antialiasing — I punted on [FXAA](https://en.wikipedia.org/wiki/Fast_approximate_anti-aliasing) as it loo

[2016-08-22 23:56] lbud commented on #456
@jfirebaugh I'd like to specify that non-1 alpha values specified in this property won't be respected — does that seem okay? (Alternatively we could make an `rgba` extrusion-color a shorthand way of specifying an `rgb` extrusion-color with `a` extrusion-layer-opacity, but that feels very wrong.)

[2016-08-23 16:10] jfirebaugh commented on #456
I suggest renaming `extrusion-outline-color` ⇢ `extrusion-edge-color` to make it a bit more self-explanatory. No strong opinion about keeping the feature or not.

Thanks for the explanation about opacity, makes sense.

Sounds reasonable.

[2016-08-24 17:02] lucaswoj commented on #463
Both 1 and 2 sound good to me. My sense is that 2 will not take much more effort than 1.

[2016-08-24 22:25] 1ec5 commented on #456
A starting point would be to think about use cases:
- If I want to make a backlit map of Manhattan, what value should I use for `light-direction`?
- If I want to simulate [Manhattanhenge](https://en.wikipedia.org/wiki/Manhattanhenge) and have the light source come in from the northwest, regardless of the map’s bearing, what value should I use for `light-direction`? (Is it even possible to configur

[2016-08-25 02:11] tmcw commented on #478
I'm more in favor of #429 than this. The documentation isn't very good but is also irrelevant to most.

[2016-08-25 02:11] #478 closed, assigned to nobody

[2016-08-26 20:26] lbud commented on #480
@jfirebaugh do you mean something like

[code]

? (It feels weird to use a number in a string there…)

[2016-08-26 20:36] jfirebaugh commented on #47
See https://github.com/mapbox/mapbox-gl/issues/15 for additional syntax proposals.

[2016-08-26 20:37] jfirebaugh commented on #480
No, I mean something akin to the syntaxes proposed in https://github.com/mapbox/mapbox-gl-style-spec/issues/362#issuecomment-161857532 or https://github.com/mapbox/mapbox-gl-style-spec/issues/104#issuecomment-231640140, like `"property": {"ref": "levels", "default": 20}` or `"property": [{"ref": "levels"}, 20]`.

I think at this point we need to have a vision that unifies https://github.com/mapbox

[2016-08-26 20:58] 1ec5 opened #485 "Add paint property for icon image URL"
The `icon-image` property takes the name of an icon in the style’s `sprite` property, which means symbols can only wear the images provided by the style at design time. For parity with Apple’s MapKit framework and the Google Maps SDK, the mapbox-gl-native project and its SDKs support an alternative _annotation API_ that facilitates point and shape overlays in an imperative programming style. One o

[2016-08-26 21:51] jfirebaugh commented on #485
Ref https://github.com/mapbox/mapbox-gl-js/issues/358. In particular https://github.com/mapbox/mapbox-gl-js/issues/358#issuecomment-159330509 proposes extending the `icon-image` property with a CSS-like `url(...)` syntax rather than introducing a new property.

[2016-08-26 21:56] jfirebaugh commented on #485
Another approach -- one which I think we should follow even if we also add support for image URLs -- is to treat the icon set as an inline portion of the style itself rather than an independent resource requested by URL reference (c.f. https://github.com/mapbox/mapbox-gl-style-spec/issues/220#issuecomment-180024487) and then introduce icon CRUD operations to the runtime styling API.

[2016-08-26 21:57] 1ec5 commented on #485
Given the discussions around token defaults in #104, we probably wouldn’t want to introduce a mini-language syntax that would break compatibility with existing `icon-image` usage. An object with a `url` property would be more consistent with the proposals in #104.

[2016-08-27 00:35] #463 closed, assigned to nobody

[2016-08-27 21:40] vicapow opened #486 "diffStyle doesn't respect refs"
The diffStyle utility cannot handle styles with refs. For example:

previous style:

[code]

next style:

[code]

diffStyle:

[code]

see: [map.removeLayer()](https://github.com/mapbox/mapbox-gl-js/blob/072f8cdc34b729c1b5956ca622bb01d1e716af4e/js/style/style.js#L446) for how it handles removing layers with refs.

[2016-08-28 06:24] vicapow commented on #486
I'm not able to find a good way to implement style diffing with refs  😞 Removing ref layers is straightforward but updating / adding layers that may be referenced by other layers is difficult with the current mapbox API commands available. For example, `diffStyle`'s current implementation relies on removing and adding layers to "move" layers but when a referenced layer is removed, all the layers t

[2016-08-29 15:17] jfirebaugh commented on #486
I think we want to implement https://github.com/mapbox/mapbox-gl-js/issues/1393 (and the equivalent change in gl-native), making refs an internal implementation detail, and remove them from the style specification.

[2016-08-30 14:44] kkaefer commented on #485
This makes sense and mirrors the way we handle GeoJSON and TileJSON data.

[2016-08-30 22:05] scothis commented on #456
Also agree that `extrusion-min-height` is a strange name. I interpret it as setting a value a the height cannot be less than `Math.max(minHeight, height)`. Something like `extrusion-base-height` is more clear to me, as the value is where the extrusion starts from.

[2016-08-31 17:17] nickidlugash commented on #456
`extrusion-height` + `extrusion-base-height` sounds good to me.

[2016-09-01 17:43] lucaswoj commented on #456
I would like to revisit this proposal

There has been continued interest in extruding lines, points, and circles. The implementation of this functionality may be done later but the specification design must be considered now. The cleanest way to implement this functionality is to allow `extrude-*` properties on other layer types.

---

The only reason `fill` layers are flat is because we haven't i

[2016-09-01 18:06] 1ec5 commented on #456
Indeed, but as I pointed out in https://github.com/mapbox/mapbox-gl-style-spec/issues/456#issuecomment-221975589, I think there’s a distinction to be made between “levitating” a layer (raising it above the ground) and extruding it (giving it a support structure). Is it extrusion if you take a 2D layer and levitate it without giving it any depth?

Consider a map that has extruded buildings, so you

[2016-09-01 19:24] samanpwbb opened #488 "Add z-offset / levitation property"
There are times when it would be useful to raise layers or features above other features on a map. For these cases, there should be a z-offset property:

![screen shot 2016-09-01 at 3 38 46 pm](https://cloud.githubusercontent.com/assets/108094/18181662/3a4fe010-705a-11e6-8a79-f587a03c9700.png)

It makes to have these properties use the same units as `extrusion-height` and `extrusion-min-height` ra

[2016-09-01 19:44] jfirebaugh commented on #488
Duplicate of https://github.com/mapbox/mapbox-gl/issues/6?

[2016-09-01 19:55] samanpwbb commented on #488
moved comment to https://github.com/mapbox/mapbox-gl/issues/6#issuecomment-244193192

[2016-09-01 19:55] #488 closed, assigned to nobody

[2016-09-01 21:36] lbud commented on #456
Alright team, you've got me convinced.

@mapbox/gl @peterqliu

Increasing use cases for 3d maps (navigation, gaming) definitely present use cases for
- extruding geometries
  - extruding fills (buildings ++)
    ![image](https://cloud.githubusercontent.com/assets/3170312/18180629/9e775e6a-703c-11e6-96cd-956a05525b66.png)
  - extruding lines
    ![image](https://cloud.githubusercontent.com/assets/3

[2016-09-01 21:52] lbud commented on #456
(I'm flexible on exact wording of `[type]-extrude-height` and `[type]-extrude-base`)

[2016-09-02 16:28] samanpwbb opened #489 "Add "line-dasharray-origin" property"
It's common in vector editing tools to offset the origin point in a dasharray. Here's an example in inkscape:

![screen shot 2016-09-02 at 12 27 19 pm](https://cloud.githubusercontent.com/assets/108094/18210875/a824f126-7108-11e6-9948-36991aa27dd6.png)

Changing that value offsets the whole array.

This property would be really useful when animating dasharrays. For example, a function like this wo

[2016-09-02 19:39] nickidlugash commented on #456
Just noting here that our roadmap doesn't currently include the ability to create 3D leader lines (I suppose you could hack something together with a symbol layer + circle layer, but they wouldn't be related to each other, so collisions would be inconsistent). I think this is fine for now, as you also can't currently create 2D leader lines either. Leader lines in general may need special implement

[2016-09-03 22:30] ezheidtmann commented on #273
It looks like this is now implemented for `fill` layers via the `fill-opacity` paint property. Is there any way to do this for `line` layers? The `line-opacity` property seems to set a per-geometry opacity, at least in js v0.23.0.

[2016-09-07 11:00] isimonescu commented on #349
Any progress on this?

[2016-09-08 20:34] peterqliu commented on #171
I'm interested in working on this, as it's required for setting transition durations at runtime with `.setPaintProperty`. Is there some way we can generate these (very repetitive) entries in an automated fashion, or are we stuck writing these manually?

[2016-09-09 17:32] lucaswoj commented on #171
@peterqliu I think we can document this feature with a paragraph and some examples in the in the ["Transition" section](https://www.mapbox.com/mapbox-gl-style-spec/#transition). Reading an entry per paint property would be as repetitive as writing them!

[2016-09-12 17:19] samanpwbb opened #491 "Add symbol-placement: fill-area"
A new `symbol-placement` value called `fill-area` would be useful in more stylized maps, for hand-placed looking hillshades and trees. For example of the kind of effect I'm after, see https://www.mapbox.com/bites/00099/ or https://www.mapbox.com/blog/super-mario-with-studio/. Here's how it would work:

![fill-area](https://cloud.githubusercontent.com/assets/108094/18447801/30b2a3ea-78f6-11e6-9586-

[2016-09-16 18:37] jfirebaugh opened #494 "Add test that fails if reference/v8.min.json is not up to date"
If you make changes to the reference, and forget to rebuild the minified source, it should be a CI failure, not a cryptic error in a downstream module that uses v8.min.json.

cc @boundsj

[2016-09-16 18:50] ajashton commented on #491
What happens when you zoom?

Seems like there's some overlap with https://github.com/mapbox/mapbox-gl-style-spec/issues/427

[2016-09-16 19:09] samanpwbb commented on #491
More icons would appear as you zoom to fill space. The advantage of this over #427 is that there'd still be symbol collision detection, and we'd never render partial symbols.

[2016-09-16 19:17] lbud commented on #480
Interestingly, I realized that because of the way `evaluateExponentialFunction` picks a function stop — iterating over them, waiting for either a break statement or the end — we can exploit it to set, essentially, a default:

[code]

I don't feel like this is really the intended behavior or a clean solution, buuuut… 💭

@jfirebaugh @lucaswoj

[2016-09-16 22:35] nickidlugash opened #496 "Document that`text-max-width` property is only for `symbol-placement: point`"
https://www.mapbox.com/mapbox-gl-style-spec/#layout-symbol-text-max-width

Currently, all text with `symbol-placement: line` gets assigned `text-max-width: 0` and does not wrap.

[2016-09-19 18:30] jfirebaugh opened #497 "Document enum values individually"
Change:

[code]

To:

[code]

Then the generated docs can list the enum values with their documentation in a definition list.

[2016-09-19 19:41] lucaswoj opened #498 "Create consistent SDK support naming convention"
Why "Base _support_" but not "Data-driven styling _support_" or "`auto` value _support_"?

Some good examples to follow:
- http://node.green/
- http://caniuse.com/#search=es6

[2016-09-19 19:48] jfirebaugh commented on #498
It's a compromise: "support" is implied for every row in the table; repeating it for every row adds noise. But "Base" on its own is unclear.

If you have a concrete proposal for an alternative, happy to entertain it. Otherwise I think this is fine as is.

[2016-09-19 20:15] jfirebaugh commented on #235
I no longer see an override for `symbol-avoid-edges`, and we've gotten documentation for `{text,icon}-rotation-alignment` -- and an explicit `auto` value -- in #493.

[2016-09-19 20:15] #235 closed

[2016-09-19 20:28] 1ec5 commented on #497
This is a blocker for mapbox/mapbox-gl-native#5953, which is blocking the iOS SDK v3.4.0 release. (The Objective-C enum values need to be individually documented; otherwise, the symbols are entirely omitted from documentation.)

[2016-09-19 23:33] lbud commented on #480
Actually, my above comment is not true — it was working in my debugging but now I'm creating demos and realizing validation throws out non-number stops in number functions, and non-ascending-order stops (so `-1` doesn't work). I can still achieve this effect by ensuring that the second to last stop is a number beyond what would ever exist in the data, and then making the next number even larger: `

[2016-09-20 17:12] lucaswoj commented on #498
I will submit a PR with a concrete proposal.

[2016-09-20 20:19] jfirebaugh opened #499 "Validation should enforce "requires""
The style specification has various properties with `requires` values that specify constraints on related properties. These constraints should be enforced by the validator.

This makes validation stricter, so we will have to be cautious about rolling out enforcement.

[2016-09-20 20:33] lucaswoj commented on #480
I think there are two distinct cases being discussed in this thread:

## 1. Specify a function _input_ value when the property is undefined

This is being discussed in https://github.com/mapbox/mapbox-gl-style-spec/issues/104. I will weigh in on that ticket.

## 2. Specify a function _output_ value when the property is undefined

[code]

In some cases, we can take care of case 2 with a carefully c

[2016-09-20 20:50] lucaswoj commented on #104
Token defaults could be implemented as a use of the proposed conditional primitive and the existing `has` operator.

[code]

[code]

The conditional primitive would be useful in other cases. It has has been proposed previously at https://github.com/mapbox/mapbox-gl-style-spec/issues/402#issuecomment-175817825.

[2016-09-20 21:03] 1ec5 commented on #402
https://github.com/mapbox/mapbox-gl-style-spec/issues/104#issuecomment-248429888 proposes this conditional syntax as an elegant means for supporting token fallbacks via the `has` operator. This would make it easier to support fallbacks for nonexistent sprites: an `exists` operator would be far less magical than the special behavior implemented for `icon-image` in https://github.com/mapbox/mapbox-g

[2016-09-20 21:04] 1ec5 commented on #104
That would be an elegant solution. In https://github.com/mapbox/mapbox-gl-style-spec/issues/402#issuecomment-248433539, I’ve extended your proposal with an `exists` operator for missing sprite fallbacks for `icon-image`.

[2016-09-20 21:36] jfirebaugh commented on #480
@lucaswoj Good clarification -- let's focus this issue on adding the ability to provide an output value for inputs which are not otherwise in the domain of the function.

An input value of "undefined", when the property is not present on a given feature, is a common special case. But a categorical function which doesn't wish to specify a stop for every possible value is another use case.

Then to

[2016-09-21 00:39] jfirebaugh commented on #496
Not working for `symbol-placement: line, text-rotation-alignment: map/auto` makes sense, but it may just be a bug that it doesn't work for `symbol-placement: line, text-rotation-alignment: viewport`.

[2016-09-21 17:03] lucaswoj commented on #402
@1ec5 Would the `exists` operator be specific to sprites?

[2016-09-21 17:08] #498 closed, assigned to lucaswoj

[2016-09-21 18:57] 1ec5 commented on #402
It would only be meaningful in relation to properties that deal with sprite names (or URLs once we implement #485). Could we define `exists` to always resolve to false for other properties?

[2016-09-21 23:31] lucaswoj commented on #402
@1ec5 Would a general `icon-exists` operator work for the use case you have in mind?

[2016-09-21 23:50] 1ec5 commented on #402
Yes.

[2016-09-23 17:57] davidtheclark opened #504 "Allow one property to require another property to have an array of possible values"
There's a problem with `icon-text-fit-padding`. It [says that it requires `icon-text-fit`](https://github.com/mapbox/mapbox-gl-style-spec/blob/mb-pages/reference/v8.json#L677), but in fact it requires `icon-text-fit` to have any of its possible values other than `none`. With `"icon-text-fit": "none"`, `icon-text-fit-padding` is no good.

Looks like [there is existing syntax](https://github.com/map

[2016-09-23 18:06] jfirebaugh commented on #504
👍

I know of only two current uses of `requires`, both of which can be updated to support this: Mapbox Studio and [this doc generation code](https://github.com/mapbox/mapbox-gl-style-spec/blob/f1d3912709dc0749ee7d7af324739b07fa9ef726/docs/_generate/item.html#L27-L38).

[2016-09-23 18:52] davidtheclark commented on #504
I can work on a PR for this. But I do have some questions upfront:
- How do you like to handle changes like this? Do we update the apps first (Studio) to anticipate the change, or just release the new spec? (Or something else?)
- Is this going to require a major release? Or would it be considered a bug fix since `icon-text-fit-padding` would not have worked with ``"icon-text-fit": "none"` anyway?

[2016-09-23 19:20] jfirebaugh commented on #504
I'd consider this a patch bump. We've accumulated other changes that deserve a minor version bump though, from #493, so I think the next version should be 8.9.0.

cc @scothis for the Studio coordination question.

[2016-09-23 19:23] 1ec5 commented on #504
Also [this iOS/macOS SDK documentation generation code](https://github.com/mapbox/mapbox-gl-native/blob/6aa00afd317762afbec7add23ff6be735b5765ac/platform/darwin/src/MGLStyleLayer.h.ejs#L67-L70) ([more here](https://github.com/mapbox/mapbox-gl-native/blob/6aa00afd317762afbec7add23ff6be735b5765ac/platform/darwin/scripts/generate-style-code.js#L101-L112)).

[2016-09-23 20:10] davidtheclark commented on #504
@1ec5 I will get a PR over there this afternoon.

[2016-09-23 23:41] #504 closed, assigned to davidtheclark

[2016-09-27 18:30] davidtheclark opened #507 ""ems" and "em" both listed as units"
`text-offset` [has `"ems"`](https://github.com/mapbox/mapbox-gl-style-spec/blob/mb-pages/reference/v8.json#L1123); while `text-max-width`, `text-line-height`, and `text-letter-spacing` [have `"em"`](https://github.com/mapbox/mapbox-gl-style-spec/blob/mb-pages/reference/v8.json#L904).

Is there a reason for this difference, or is it an oversight? Happy to correct with a PR if so.

[2016-09-27 18:56] jfirebaugh commented on #507
Yes,  "ems" is correct, consistent with "pixels" and "degrees".

[2016-09-27 20:04] #507 closed, assigned to davidtheclark

[2016-09-27 23:06] danswick opened #509 "Add "required" to layer source and ref sections"
Because `background` layers don't require one, a `source` property is technically optional. However, a layer without a `source` or `ref` fails validation, which seems a bit incongruous.

![image](https://cloud.githubusercontent.com/assets/2365503/18895205/b105ae2a-84cc-11e6-8301-3c9463bbf72a.png)

[2016-09-28 17:09] incanus commented on #497
Taking a look at this.

[2016-09-28 18:09] jfirebaugh commented on #497
The places I know that are downstream users of `"values"` and will need to be updated in sync with this change:
- [Validation](https://github.com/mapbox/mapbox-gl-style-spec/blob/934ff215f6f73695909e5f9d9e86d3df48688c08/lib/validate/validate_enum.js)
- [Doc generator](https://github.com/mapbox/mapbox-gl-style-spec/blob/4cfd2a56e0226439718834b899c4bfd49ce040e5/docs/_generate/item.html#L14)
- [Style

[2016-09-28 18:21] samanpwbb commented on #497
Mapbox studio will need to be updated based on this change well.

[2016-09-28 18:42] 1ec5 commented on #497
More uses in mapbox-gl-native:
- [Generating actual enums in the core implementation](https://github.com/mapbox/mapbox-gl-native/blob/1777b8757a437d6f27928c2bb3d821fc8679cf20/scripts/generate-style-code.js#L105)
- [Generating actual enums in iOS/macOS SDK headers](https://github.com/mapbox/mapbox-gl-native/blob/1777b8757a437d6f27928c2bb3d821fc8679cf20/platform/darwin/scripts/generate-style-code.js

[2016-09-29 22:48] incanus commented on #497
@samanpwbb Is this something I should start looking into, or is it easier for someone already in Studio to handle?

[2016-09-30 02:50] samanpwbb commented on #497
Studio team can take care of this when we upgrade the style spec version. Just something we'll need to be aware of. Worth ticketing downstream.

[2016-09-30 19:00] scothis commented on #497
As proposed this is a breaking change to the style spec, with all the associated 😭. The same content can be added in a non-breaking way:

[code]

[2016-09-30 19:05] jfirebaugh commented on #497
@scothis We've already put the work into updating the places that need updating in this repository and mapbox-gl-native. Unless it's going to be a huge amount of work to adjust Studio, I'd like to continue with the change as implemented.

[2016-09-30 19:35] scothis commented on #497
@jfirebaugh I'm not worried about Studio, it's the downstream users we're not aware of. If you're comfortable making a breaking change without bumping the major version number, just be aware of what you're doing. We don't advertise that the project follows semver, but it's certainly the expectation.

[2016-09-30 21:15] 1ec5 commented on #497
My understanding – correct me if I’m wrong – is that the version number tracks the content of the style specification, not any particular representation of it. There are a number of tools in this repository that could be individually versioned if we chose to, such as diff.js or indeed the JSON-formatted representation.

[2016-09-30 21:51] #497 closed, assigned to incanus

[2016-09-30 21:53] incanus commented on #497
Didn't mean to cut off discussion here. #510 needed to happen regardless. We can reopen here or continue elsewhere the versioning discussion fallout.

[2016-09-30 23:21] jfirebaugh commented on #219
We should do this for v9, and then reintroduce `background` as a style-wide global property. Meanwhile `cover` layers should require a source, and only render on loaded tiles.

That enables https://github.com/mapbox/mapbox-gl-js/issues/3280 / https://github.com/mapbox/mapbox-gl-native/issues/119.

[2016-10-02 17:38] davidtheclark commented on #497
I think this PR brings to the fore (but is not the first to introduce) a question about the intended purpose of the affected file. Automatic documentation generation is one thing; a JSON schema precisely describing the data structure is another. A JSON file that is optimal for one of these purposes might very well not be very good for the other. I wonder if it wouldn't be a good idea to create sep

[2016-10-04 02:07] davidtheclark opened #513 "Support arbitrary expressions on "requires" property"
I'm thinking about:
- #497, in which enum values are changed from an array to an object to allow for additional metadata on each value)
- #495, in which a `<=` key shows up on an object in the `"requires"` array.
- #504, in which we had to allow the value of an object in the `"requires"` array to itself be an array.
- The weirdness of having keys in objects represent either a property name or an o

[2016-10-04 08:18] kkaefer commented on #219
Why should they require a source?

[2016-10-04 16:04] jfirebaugh commented on #219
So that you can have two different "backgrounds":
- A base color or [grid](https://github.com/mapbox/mapbox-gl-js/issues/3280) that shows up behind unloaded tiles
- A "land" background that shows up on loaded tiles where there are no other features

[2016-10-04 17:46] lucaswoj opened #514 "Document quirks of using functions with layout properties"
Users may use zoom-functions with layout properties. These functions, however, cannot update at fractional zoom levels. We should clearly document this fact in the documentation and in the Studio UI.

Continued from https://github.com/mapbox/mapbox-gl-js/issues/3289

[2016-10-04 19:18] scothis commented on #514
Except for when they do... For example, `text-size` is a layout property that does update at fractional zoom levels. One gotcha is that the collision box is calculated at integer zoom levels, so depending on the direction of the function, the collision box will either be too big or too small for the content.

It seems like `text-size` and `text-rotate` should behave consistently.

[2016-10-05 17:26] lucaswoj opened #516 "Add a SDK support table for function types"
Currently the `identity` function type has different levels of support in different SDKs. This information is not documented anywhere. A SDK support table for function types would be useful for this situation and future situations like it.

[2016-10-05 21:55] vicapow commented on #486
fwiw, we came up with a solution for our use case by creating an `expandRefs` function to eliminate refs before passing them off to `diffStyles`.

[2016-10-06 01:47] jingsam commented on #486
I agree to remove `ref` from the style specification, which make it like a program language. Remember the `constants` ever been in the style specification, no one miss them!

[2016-10-07 00:37] jfirebaugh commented on #240
We really should do this. `fill-outline-color` adds complex special cases to the renderer for very little value.

[2016-10-07 07:32] 1ec5 opened #519 "text-field documentation doesn’t mention token syntax"
The [`icon-image`](https://www.mapbox.com/mapbox-gl-style-spec/#layout-symbol-icon-image) documentation starts out with “A string with {tokens} replaced,” yet the [`text-field`](https://www.mapbox.com/mapbox-gl-style-spec/#layout-symbol-text-field) documentation doesn’t mention this syntax. (Are there any other properties that make use of this syntax?)

/cc @jfirebaugh

[2016-10-07 07:33] 1ec5 opened #520 "Documentation doesn’t cross-link required properties"
When a property such as [`text-font`](https://www.mapbox.com/mapbox-gl-style-spec/#layout-symbol-text-font) requires another property to be set (in this case, `text-field`), the HTML documentation displays the property unlinked. The required property should be cross-linked for easier navigation.

/cc @davidtheclark

[2016-10-07 07:35] 1ec5 commented on #519
Somehow we should also point out that special tokens are recognized, like we do in the [Filter](https://www.mapbox.com/mapbox-gl-style-spec/#types-filter) documentation. I’m not sure if `{$id}` and `{$type}` are supported, but `point_count` apparently is, per https://github.com/mapbox/mapbox-gl-native/issues/6609#issuecomment-251992910.

[2016-10-07 14:38] nickidlugash commented on #240
@jfirebaugh we use `fill-outline-color` in our private styles and public styles for buildings and road polygons. If we decide to remove it, we'll need to coordinate a styles update with the spec update.

[2016-10-07 15:26] jfirebaugh commented on #519
There aren't any special tokens -- `{$id}` and `{$type}` aren't supported, and from the perspective of token interpolation `{point_count}` is just a normal property. When features are clustered, they generate new features, which have certain properties. The [clustering documentation](https://www.mapbox.com/mapbox-gl-style-spec/#sources-geojson-cluster) is where these should be documented.

[2016-10-09 08:59] jingsam opened #521 "Missing css/site.css"
When I run `jekyll serve -w`, the site looks like this:
![image](https://cloud.githubusercontent.com/assets/1522494/19219265/2069a49c-8e41-11e6-9547-66acc5af216b.png)

I checked that the site is trying to retrieve site,css from `http://localhost:4000/css/site.css`, which should be `https://122e4e-mapbox.global.ssl.fastly.net/css/site.css`. It seems that `jekyll serve` overwrites `url` in `_config.

[2016-10-10 02:46] jingsam opened #522 "“light” is undocumented"
![image](https://cloud.githubusercontent.com/assets/1522494/19225925/da484a18-8ed6-11e6-9659-ee50acb78c2b.png)

[2016-10-10 03:54] jingsam opened #523 "Where is the property of ‘sprite-image’？"
![image](https://cloud.githubusercontent.com/assets/1522494/19226614/e14874b0-8edf-11e6-9811-5a6fe03efcba.png)

 As I know, `sprite` is required if any layer uses `icon-image`, `fill-pattern`, `line-pattern` properties.

[2016-10-10 05:13] 1ec5 commented on #522
This root property was added in #495. Indeed, it’s missing a `doc` property in the JSON schema. Until #495, each root property in the schema had specific properties defined, like `type`, `doc`, and `sdk-support`. `light` instead has properties that correspond to properties in the resulting JSON stylesheet. It should follow the model of `transition`: `$root.light.type` should be set to `light`, the

[2016-10-10 05:50] jingsam opened #526 "Doc for 'sources' seems not accurate"
https://github.com/mapbox/mapbox-gl-style-spec/blob/mb-pages/reference/v8.json#L142-L147

[code]

For geojson sources, we can also use inline data property. For image sources, a URL must be provided.

[2016-10-10 13:02] Altiano opened #528 "New filter comparison type: ~=, ~, =~"
There are already filter comparison for == for equality, != for inequality etc.
But what about LIKE type (acts like sql LIKE keyword).
for example, If the given value is "mon", it'll find any words that have that 3 character in sequence (e.g. monday, monster)

[2016-10-10 15:28] jfirebaugh commented on #528
Tracking this request in #233.

[2016-10-10 15:28] #528 closed, assigned to nobody

[2016-10-10 15:29] jfirebaugh commented on #523
Yes, and also `background-pattern`. Want to send a PR correcting this?

[2016-10-10 15:30] jfirebaugh commented on #526
Correct.  I don't think this doc string is actually used anywhere however.

[2016-10-10 15:35] jfirebaugh opened #529 "Restore "data-driven styling" row for all style properties"
So that there is no ambiguity, it's useful to explicitly indicate which properties _don't_ support DDS yet, in any SDK. We used to have a "data-driven styling" row for all style properties, with "Not yet supported" in all columns, but it got lost in #501. Let's restore it.

[2016-10-10 15:37] jfirebaugh commented on #529
Or maybe I'm misremembering and we never had this -- either way, I think it'd be useful.

[2016-10-10 15:39] jfirebaugh opened #530 "Update "`auto` value" support for GL JS"
There's a released version of GL JS that supports `auto` values -- we should update the support matrixes.

[2016-10-11 03:53] jingsam opened #532 "What are the units for line-miter-limit and line-round-limit?"
![image](https://cloud.githubusercontent.com/assets/1522494/19258288/465292e0-8fa9-11e6-9dfb-717d5fb98007.png)

What are the units for line-miter-limit and line-round-limit? Pixel or degree?

[2016-10-11 10:15] jingsam opened #533 "‘text-justify‘ option may not appropriate for rtl language, like Arabian"
![image](https://cloud.githubusercontent.com/assets/1522494/19266911/618def52-8fde-11e6-81c2-14140e753403.png)

Suggest use `start` `center` `end`.

[2016-10-11 11:37] jingsam opened #534 "What does the `global property` mean?"
![image](https://cloud.githubusercontent.com/assets/1522494/19268941/19aa7f8c-8fea-11e6-8cba-13825092523b.png)

[2016-10-11 16:06] jfirebaugh commented on #533
I don't think it makes sense to make the behavior of `text-justify` dependent on the directionality of the text unless we also provide directionality-dependent values for `text-anchor`.

[2016-10-11 18:32] jingsam opened #535 "Chinese version of style spec"
I have finished the translation of this spec in Chinese, checkout this: https://github.com/jingsam/mapbox-gl-style-spec/blob/mb-cn-pages/reference/v8.json

I am also trying to generate a HTML version, almost finished. check this:
![image](https://cloud.githubusercontent.com/assets/1522494/19283358/10ee067c-9024-11e6-9f5b-6993ef4eb90f.png)

[2016-10-12 11:13] jingsam commented on #535
@jfirebaugh @peterqliu @willwhite I have finished all of the translations, checkout this: https://jingsam.github.io/mapbox-gl-style-spec/. What do you think about it?

[2016-10-13 07:40] hanchao commented on #535
nice work

[2016-10-13 18:59] lucaswoj opened #536 "Validate that metadata only contains valid JSON"
When a style is validated in GL JS, functions embedded in the metadata are tolerated during validation but cause an error when the style is transferred to the worker. We should validate that metadata only contains valid JSON, no functions or complex objects.

ref https://github.com/mapbox/mapbox-gl-js/issues/3360#event-822052810

[2016-10-14 00:01] lucaswoj opened #538 "Improve documentation for "light" property"
Presently `light` has no documentation in the style spec.

This'll be tricky... Either we restructure "light" or we restructure our docs generator.

<img width="787" alt="screen shot 2016-10-13 at 5 01 01 pm" src="https://cloud.githubusercontent.com/assets/281306/19371277/a7572e84-9166-11e6-939f-d57bd75beadd.png">

[2016-10-14 19:03] jfirebaugh commented on #523
Fixed in #531.

[2016-10-14 19:03] #523 closed, assigned to nobody

[2016-10-14 19:04] jfirebaugh commented on #526
Fixed in #531.

[2016-10-14 19:04] #526 closed, assigned to nobody

[2016-10-14 19:04] jfirebaugh commented on #538
Duplicate of #522.

[2016-10-14 19:04] #538 closed, assigned to nobody

[2016-10-14 20:08] #530 closed, assigned to jfirebaugh

[2016-10-18 00:53] lucaswoj opened #541 "Remove Layer#interactive property"
This property has long been deprecated in GL JS and never implemented in GL native

[2016-10-18 17:32] tsemerad commented on #249
Any update on this? I see that @lucaswoj linked to progress in Mapbox GL JS, but that's only for `circle-color` and `circle-radius`. I'm interested in other data-driven attributes, particularly `icon-rotate`, and what their status is on JS, iOS, and Android SDKs. Is there better place to track this?

[2016-10-18 17:38] jfirebaugh commented on #249
@tsemerad Search for "data-driven styling" in the [Style Reference](https://www.mapbox.com/mapbox-gl-style-spec/) to see which properties are supported in which versions.

[2016-10-18 18:02] tsemerad commented on #249
Thank you. So it looks like iOS and Android don't support them yet. For those interested in tracking iOS and Android support for data-driven styling, watch [this ticket](https://github.com/mapbox/mapbox-gl-native/issues/4860).

[2016-10-19 07:51] 1ec5 opened #543 "Links to special types are broken"
The [`sources`](http://127.0.0.1:4000/mapbox-gl-style-spec/#root-sources) property’s link to the “sources” type is broken; it should point to [this section](http://127.0.0.1:4000/mapbox-gl-style-spec/#sources) with the anchor `#sources` rather than `#type-sources`. A similar issue affects links to the [`transition`](http://127.0.0.1:4000/mapbox-gl-style-spec/#transition) type and also the `light`

[2016-10-19 07:52] 1ec5 commented on #522
A fix is ready in #542.

[2016-10-19 08:27] #522 closed, assigned to 1ec5

[2016-10-20 18:28] #541 closed, assigned to lucaswoj

[2016-10-20 22:18] lbud commented on #456
Closing as implemented — will open tickets for other 3d properties as needed.

[2016-10-20 22:18] #456 closed, assigned to nobody

[2016-10-20 22:33] lbud opened #545 "Add root object for 3D opacity (and other properties)"
## Motivation

Currently we render individual extruded layers to a separate texture, and then render that texture at an opacity specified by that layer's `paint.fill-opacity` value back to the map. We do this in order to e.g. not render interior walls in buildings.

This causes problems when creating multiple extruded layers, as the full layers are painted back to the map separately with no respec

[2016-10-20 22:52] jfirebaugh opened #546 ""line-cap": "round" + "line-dasharray": [1, 1] should produce circles"
The combination of `"line-cap": "round"` and `"line-dasharray": [1, 1]` should produce a line consisting of circles with diameter equal to the line width, spaced one line width from each other.

Instead, it produces this:

![image](https://cloud.githubusercontent.com/assets/98601/19580753/3aec50ea-96dd-11e6-81c6-06f84eb1be5e.png)

[2016-10-21 00:04] mollymerp commented on #171
This is an easy fix and something we should hit asap. @peterqliu do you want to knock this out ? Happy to jump in if not.

[2016-10-21 00:05] jfirebaugh commented on #545
It seems to me that the ideal solution is to generate a single 3d mesh for each extruded layer, and render each mesh with the specified opacity for that layer. No intermediate texture required.

The question is, how hard an algorithmic problem is generating a mesh from a set of extrusions?

[2016-10-21 01:01] ansis commented on #545
It's more complicated than that

With 3D rendering you need to render closer features on top of further features. There are generally two ways to do this:
- Use the depth buffer to stop yourself from drawing further fragments on top of closer fragments. Closer fragments overwrite further ones leaving you with only the closest fragments at the end.
  - Pros: fast, relatively simple
  - Cons: you ca

[2016-10-21 01:13] lbud commented on #545
(I hesitantly add here that I can see a case for, say, opaque floating labels atop the entire extrusion layer for something like 3D leader line labels…and I'm open to the possibility of somehow designing a way to render those as opaque on top of the texture, but I don't have a vision for how that would happen yet.)

(I also hesitate to add that I just had a vision for pitch functions, where you co

[2016-10-21 01:20] incanus commented on #545
![](http://media.riffsy.com/images/07a35d8a9a79597898b5d1dbc669a234/raw)

[2016-10-21 02:04] jingsam commented on #546
I think this is intended feature, the spec says:

So when "line-dasharray": [1, 1], it renders like this:
![image](https://cloud.githubusercontent.com/assets/1522494/19584232/7ead2f28-9775-11e6-9f29-b1adfcf540b0.png)

Want to get a a line consisting of circles, try to set "line-dasharray": [0, 1]

![image](https://cloud.githubusercontent.com/assets/1522494/19584270/b9dc81f2-9775-11e6-8975-fdea0c89

[2016-10-21 02:04] incanus opened #547 "Clarify that source-layer is not used with GeoJSON sources"
Currently, a style layer `source-layer` is optional:

https://www.mapbox.com/mapbox-gl-style-spec/#layer-source-layer

This isn't consistent with vector layers _requiring_ the `source-layer` to be specified:

https://www.mapbox.com/mapbox-gl-style-spec/#sources-vector

This requirement exists even if there is only one layer in the source. **Bonus:** Maybe we can also make assumptions there for con

[2016-10-21 03:48] jfirebaugh commented on #547
It's optional because layers whose source is a GeoJSON source do not have a source layer.

[2016-10-21 10:13] 1ec5 commented on #545
I don’t see B as necessarily being any more organized than A, since properties are already namespaced by hyphen-delimited prefixes. By the same logic, symbol layers should contain `text` and `icon` objects to contain the current `text-…` and `icon-…` properties, respectively.

[2016-10-21 10:26] 1ec5 opened #548 "Case and diacritic folding for filter operations"
As discussed in mapbox/mapbox-gl-native#6781, it can often be necessary for a filter to perform a case-insensitive or diacritic-insensitive comparison. Variations on the existing operators should be added to support these options.

Here’s an example design (but by no means the best):

[code]

Implementing case-insensitive comparisons should be trivial on all the platforms supported by Mapbox GL. O

[2016-10-21 15:34] jfirebaugh commented on #546
Yes, I'm suggesting we should change the definition. The existing definition isn't what people expect.

[2016-10-21 17:03] jfirebaugh commented on #545
😓

If a style has multiple extruded layers interleaved with unextruded layers, and the extruded layers are rendered to their own texture, at what layer index is that texture rendered to the main scene? (Index of the first extruded layer, last extruded layer, after all non-extruded layers?)

Now I am starting to recall the old `composite` layer type and why it worked the way it did.

[2016-10-22 05:33] princeofnaxos commented on #459
+1

[2016-10-22 05:56] jingsam commented on #546
I think we should keep this behaviour consistent with the definition of [stroke-linecap](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/stroke-linecap) in SVG or [linecap](https://developer.mozilla.org/en-US/docs/Web/API/CanvasRenderingContext2D/lineCap) in Canvas. That is what a web developer would expect.

[2016-10-22 18:46] jfirebaugh commented on #546
Good point. I just confirmed that the current definition is consistent with SVG.

[2016-10-22 18:46] #546 closed, assigned to nobody

[2016-10-22 22:21] jfirebaugh commented on #62
- https://github.com/mapbox/mapbox-gl-function/pull/26
- https://github.com/mapbox/mapbox-gl-js/pull/3245
- https://github.com/mapbox/mapbox-gl-style-spec/pull/515
- https://github.com/mapbox/mapbox-gl-native/pull/6442

[2016-10-22 22:21] #62 closed

[2016-10-22 22:30] jfirebaugh commented on #521
Not reproducible for me. Could be Windows specific; I'm afraid you're going to have to debug this on your own.

[2016-10-22 22:30] #521 closed, assigned to nobody

[2016-10-24 18:29] kkaefer commented on #545
FWIW, mapbox/mapbox-gl-native#6596 is a prerequisite for this.

[2016-10-25 16:31] lucaswoj opened #550 "Document URL template tokens and schemes"
TileJSON URL templates may use several different tokens and either of two schemes. We should document these and provide a SDK support table
## Schemes
- `tms`
- `xyz`
## URL Template Tokens
- `{quadkey}`
- `{bbox-epsg-3857}`
- `{x}`, `{y}`, `{z}`
- `{prefix}`

[2016-10-25 23:17] lbud opened #551 "Display `minimum` and `maximum` properties in published docs"
The style spec includes `minimum` and `maximum` for some properties ([example](https://github.com/mapbox/mapbox-gl-style-spec/blob/mb-pages/reference/v8.json#L1707)) but these don't display in the [published docs](https://www.mapbox.com/mapbox-gl-style-spec/#paint-fill-extrude-height). `minimum` and `maximum` properties should be displayed in our docs.

[2016-10-26 10:50] 1ec5 commented on #420
This is happening in mapbox/mapbox-gl-js#3420 and mapbox/mapbox-gl-native#6828.

[2016-10-26 14:25] IvanSanchez opened #552 "Add hover height to raster layers"
Feature request: Add a `raster-extrude-height` property to `raster` layers. Or `raster-hover-height`. Or something.

The use case is raster layers with alpha channel opacity which should "hover" above ground at a preset height, matching the top plane of extruded geometries. e.g. cropped aerial imagery for a given building rooftop.

[2016-10-28 21:08] lbud opened #554 "[BREAKING] Remove fill-extrude-height and fill-extrude-base; move to a separate fill-extrusion type"
We're going to remove the `fill-extrude-height` and `fill-extrude-base` properties and instead create a separate `fill-extrusion` type.

Unfortunately this is a breaking change, but it's the right way to maintain flexibility for future 3D types in the spec and to keep certain logical patterns in our renderers.

As it stands, fill layers and extruded fill layers have the following differences:
- fi

[2016-10-28 23:23] jfirebaugh commented on #554
☝️  That's a lot of linked issues! Thanks for hitting this @lbud.

[2016-10-29 02:20] ryanbaumann commented on #554
@lbud this is awesome fix before extrusions are heavily adopted.  Thank you!

[2016-11-02 21:47] tmcw opened #556 "Add note on fill-color that its alpha channel doesn't matter when using extrusions"
We have a note here

![2016-11-02 at 5 46 pm](https://cloud.githubusercontent.com/assets/32314/19948690/4c5c9f96-a124-11e6-8529-556370dc26c4.png)

But need one here

![2016-11-02 at 5 46 pm](https://cloud.githubusercontent.com/assets/32314/19948699/595907a2-a124-11e6-85c4-742ee2942d14.png)

There's precedent, too, since we have a note that fill-color doesn't affect 1px strokes.

[2016-11-02 22:50] lbud commented on #556
Not needed in light of https://github.com/mapbox/mapbox-gl-style-spec/issues/554. When the new documentation is published this should be clear:
https://github.com/mapbox/mapbox-gl-style-spec/blob/mb-pages/reference/v8.json#L1749

https://github.com/mapbox/mapbox-gl-style-spec/blob/mb-pages/reference/v8.json#L1738

Please reopen if you think they should be clearer; otherwise, docs will be republish

[2016-11-02 22:50] #556 closed, assigned to nobody

[2016-11-03 21:38] ansis commented on #545
I wrote:

I should have added a couple qualifiers:

There are two ways to do this **in webgl** with **regular blending**.

Drawing transparent things without sorting them is called _order independent transparency_. Since we can't afford to sort we would need to use one of these approaches.

### approaches not possible in webgl

With some opengl extensions it's possible to keep all the fragment val

[2016-11-04 01:44] jfirebaugh commented on #325
As noted in https://github.com/mapbox/mapbox-gl-style-spec/pull/558, I think we've lost our window to do this safely for v8 -- prohibiting unknown top-level and layer properties now is likely to break styles in the wild. Targeting for v9.

[2016-11-04 16:04] davidtheclark opened #560 "Requirements that are always satisfied should be removed"
For example: `line-translate-anchor` requires that `line-translate` have a value. But `line-translate` has a `default` set to `[0, 0]` — meaning that *it will always have a value*. Because this explicit requirement is actually always satisfied, it is meaningless and kind of confusing, right?

I'm working on Studio's style editor, deciding when to disable forms, and ran into this confusion. There s

[2016-11-04 16:36] davidtheclark commented on #560
A lot of properties require `text-field`, which has a `default` of `""`. That causes some trouble, unless we add more logic to the requirement specifying that the required value _must not be_ something. And that gets at #513.

[2016-11-04 16:56] jfirebaugh commented on #560
The intent in these cases is to require a non-default value. `line-translate-anchor` doesn't do anything if the translation is zero. `text-rotation-alignment` doesn't do anything if there's no text. Etc.

[2016-11-04 17:11] davidtheclark commented on #560
`line-miter-limit` requires that `line-join` be `"miter"`, which is also the default value for `line-join`. If we disable `line-miter-limit` when `line-join` has its default value, it will never be enabled.

This would mean, then, that there's also an implicit intent that the non-default-value expectation only applies to requirements that are bare strings instead of objects, right? That seems like

[2016-11-04 17:36] davidtheclark commented on #560
Looks like this is probably tangled up with #351.

[2016-11-04 17:44] davidtheclark opened #561 "Describe dynamic defaults"
My search isn't turning up a discussion of this before (maybe I'm missing it?) ...

It seems right now that the default value of fill-outline-color is "informally" defined as the current value of `fill-color`. It would be nice for formally define this relationship.

Maybe `fill-outline-color` will go away (#240). Will this problem go away with it?

[2016-11-04 17:56] jfirebaugh commented on #561
We had [a similar situation with `{text,icon}-rotation-alignment`](https://github.com/mapbox/mapbox-gl-style-spec/issues/235), which we resolved by adding an [`auto` default enum value](https://github.com/mapbox/mapbox-gl-style-spec/pull/493). That type of solution doesn't really work for non-enum valued properties like `fill-outline-color` however.

It would, yes. Another reason to hasten `fill-o

[2016-11-04 23:54] jfirebaugh opened #563 "Missing documentation for fill-extrusion layer type"
Need to add the new layer type [here](https://github.com/mapbox/mapbox-gl-style-spec/blob/mb-pages/docs/_generate/index.html#L585) and [here](https://github.com/mapbox/mapbox-gl-style-spec/blob/mb-pages/docs/_generate/index.html#L44) to get it to show up in published docs.

cc @lbud

[2016-11-04 23:56] jfirebaugh opened #564 "Remove reference to extrusions from fill-opacity docs"
We should remove [this](https://github.com/mapbox/mapbox-gl-style-spec/blob/b2826570cf5d200bc20ba1396c4234b24def5aa1/reference/v8.json#L1602) reference to extrusions from the `fill-opacity` docs:

This is now covered in the `fill-extrusion-opacity` docs.

cc @lbud

[2016-11-05 00:26] #563 closed, assigned to lbud

[2016-11-05 00:26] #564 closed, assigned to lbud

[2016-11-05 14:28] davidtheclark commented on #513
I see one up-thumb ... Anybody else object or agree to this? I can work on a PR if we think it's worth an experiment.

[2016-11-07 22:59] mourner commented on #240
I was initially worried about performance implications of this, but it looks like the only massive layer we use it for is buildings, which only appear on z15+, which is very easy to render compared to heavier zooms like z11-13. So I'm 👍 on this.

[2016-11-08 16:52] tmcw opened #567 "Fix language drift and connect "property functions" to data-driven styles"
Via a support question this morning:

Right now we have, under Property Functions:

But then in the per-property spec

![2016-11-08 at 11 51 am](https://cloud.githubusercontent.com/assets/32314/20108334/b64884f4-a5a9-11e6-892c-1165b3020718.png)

We need to connect these things by

1. Explicitly telling people how to check if a thing is supported
2. _OR_ Using the same words to describe "property f

[2016-11-08 18:10] jfirebaugh commented on #567
"data-driven styles" / "data-driven styling" is an umbrella term. "property functions" are one type of data-driven function. "zoom-and-property functions" is another. (Arguably, the interpolation syntax supported by `text-field` and `icon-image` are a third.)

The documentation should refer to support for "data-driven styling", not about support for "property functions" specifically. We're not goi

[2016-11-08 18:31] tmcw commented on #567
@jfirebaugh I see your objection but am not seeing a proposal to clarify the documentation.

To restate the problem without potentially incorrect wording:
- Right now we have some text that says "support for this feature varies across the API."
- This leads the user to ask "how does it vary? Where can I use the feature?"

If we say that support for "property functions" varies but we don't say "pro

[2016-11-08 20:29] jfirebaugh commented on #567
Concretely, I suggest fixing #529 and then replacing "Note that support for property functions is not available across all properties and platforms at this time." with the following:

[2016-11-08 20:45] lucaswoj opened #568 "The lack of ecosystem-wide support for data-driven styling is not prominent enough"
Users are often confused about this. We should make sure that the lack of ecosystem-wide support for data-driven styling is more prominently documented.

Some ideas

 - add a `data-driven styling` row to every style property, even those that don't have support on any platform
 - make the language about data-driven styling support more visually distinct ⚠️

[2016-11-08 21:32] jfirebaugh commented on #568
⇢ #567

[2016-11-08 21:32] #568 closed, assigned to nobody

[2016-11-15 19:32] scothis opened #569 "Include Static API rendering in sdk-support properties"
In addition to our client side SDKs we also have a server side renderer with the [Mapbox Static API](https://www.mapbox.com/api-documentation/#static). Unlike our SDKs, the static support is not versioned, the property/feature is either supported or not.

[code]

[2016-11-15 21:21] anandthakker opened #570 "Handle changes to a layer's 'source', 'source-layer', or 'type' in diffStyles"
Right now, changes to a layer's `source`, source-layer`, or `type` produce a corresponding `setLayerProperty` operation from diffStyles.  On the GL JS side, I am pretty sure that the way to handle this will be to remove the layer and create/add a new one.

Does it make more sense for this to happen here or downstream where the change operations are being applied?

Doing it here bakes in the assump

[2016-11-16 01:22] alinapaz commented on #253
@ansis got a related request from [Rentpath](https://github.com/mapbox/support/issues/339). Are multiple or dynamic labels in our roadmap?

Hey Angelina,
Does mapbox support or plan to support dynamic label placement? eg force based. Then two markers next to each other can have labels on opposing sides.
Thanks,
Caleb

[2016-11-16 01:55] #570 closed, assigned to anandthakker

[2016-11-17 01:33] lucaswoj commented on #220
I worry about the naming collision between "images" as proposed in this ticket and the `image` source type. Users may become confused that the same word can refer to either thing.

cc @1ec5 @tmcw

[2016-11-17 01:43] lucaswoj opened #575 "Disallow relative URLs in styles"
see https://github.com/mapbox/mapbox-gl-js/issues/3636 for more context

[2016-11-17 03:12] lucaswoj commented on #379
What _is_ a stroke in GL?
- we have a `fill-outline-*` property (only 1px wide)
  - in the documentation we refer to this property as providing a " 1px stroke"
- we have a `icon-halo-*` property (arbitrary width)
- we have a `text-halo-*` property (arbitrary width)
- we define "line" layers as "A stroked line"

I'm not sure what to call this feature in the context of circles. The TWC team and @sam

[2016-11-17 03:18] 1ec5 commented on #220
…should image sources be called something else? 🤔

We have raster layers and raster sources; seems like style images and image sources could coexist at least as well.

How would you describe the difference between the two? Reusable images versus georeferenced images?

[2016-11-17 03:24] 1ec5 commented on #379
Hypothesis: The term "stroke", "outline", "border", or "casing" usually arises in an API because the expected use case is thin and darker than the fill. The term "halo" or "glow" arises because the expected use case is thick, lighter than the fill, and possibly translucent.

[2016-11-17 03:26] 1ec5 commented on #379
What would the corresponding SVG/CSS properties be?

[2016-11-17 03:27] lucaswoj commented on #220
Raster layers consume raster sources. That makes sense 👍.

Image sources would not relate to "images" (by some definitions of the thing). That makes a less sense to me.

[2016-11-17 03:30] lucaswoj commented on #220
We could continue to call these new things "sprites" though we change how sprites are specified.

[2016-11-17 03:30] anandthakker commented on #220
I may be missing some context or reading too fast here, but: if this is a replacement for `sprite`, could it still just be called `sprite`?

[2016-11-17 03:37] lucaswoj commented on #485
Closing in favor of mapbox/mapbox-gl-js#2059 & mapbox/mapbox-gl-style-spec#220

[2016-11-17 03:37] #485 closed, assigned to nobody

[2016-11-17 04:16] lucaswoj commented on #379
Good question @1ec5. Here's my best attempt at sussing out the terminology used in common specifications & software:

## Related SVG Terminology
- [`stroke`: used for lines, text, and elements](https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/stroke)

## Related CSS Terminology
- [`text-stroke`: used for text](https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-text-stroke)
- [`bord

[2016-11-17 04:18] lucaswoj commented on #379
Another fun data set:
- "text stroke" -> 390,000 google results
- "text outline" -> 168,000 google results
- "text border" -> 75,400 google results
- "text halo" -> 7,330 google results
- "text casing" -> 6,140 google results

[2016-11-17 04:19] benjamin-hull commented on #379
My own experience doesn't match your hypothesis, @1ec5 - I don't think 'stroke' carries connotations of colour, thickness or opacity. 'Glow', to me, would indicate that the effect might 'fall off' (be fuzzy). I would expect a stroke to be either solid or patterned (dotted, dashed, etc).

SVG's stroke properties (from here: https://developer.mozilla.org/en-US/docs/Web/SVG/Attribute/stroke) are:
- `

[2016-11-17 05:24] 1ec5 commented on #379
Thanks @beejamin, clearly you’ve thought about this more than I have. 😉

The reason I bring up SVG and CSS is that all the geometries in question, even text, are considered to be _stroked_ and _filled_ in SVG (and CSS as used in SVG). Having authored SVG frequently in the past, I always think of “stroke” as the antonym of “fill”. It’s an elegant model, and we can always supplement the “stroke” ter

[2016-11-17 17:56] 1ec5 commented on #220
Regardless of the outcome of this discussion, it’s highly unlikely that we’ll ever introduce a “sprite” API to the iOS SDK or macOS SDK due to likely developer confusion. By far the most natural option on the platform would be “style image” (or more generally, “style asset”).

“[Sprite](https://developer.apple.com/library/content/documentation/GraphicsAnimation/Conceptual/SpriteKit_PG/Sprites/Spri

[2016-11-17 18:50] anandthakker opened #577 "Add moveLayer operation to diffStyles"
Currently, when a layer is moved, diffStyles produces a `removeLayer`/`addLayer` pair.  Replacing this with `moveLayer` would better enable the use of the `{Map,Style}#moveLayer` methods in GL JS ( See also https://github.com/mapbox/mapbox-gl-js/issues/3649 )

[2016-11-17 18:55] lucaswoj commented on #220
`[MGLStyle setImage:forName:]` in iOS is a less ambiguous name than the proposed `Map#addImage` in Javascript. I would expect `Map#addImage` to add an image to the map. Associating this terminology with the style helps, for example `Map#addStyleImage` 👍

[2016-11-18 19:33] davidtheclark commented on #514
I'm looking for some clarification on this issue so we can ensure the Studio UI is correct.

@lucaswoj @scothis should we accept the statement that "Layout properties can only update on integer zooms", and make the UI enforce this?

If so, I will update Studio and the docs here.

[2016-11-18 19:41] davidtheclark commented on #514
Word from @samanpwbb is that the factor determining when a zoom level must be an integer is the _function type_, not whether the property is `paint` or `layout`. Specifically, `piecewise-constant` functions must have integer zoom levels; all other functions can have fractional ones.

Any disagreement there? If not, I'll look into communicating this in the docs.

[2016-11-19 01:03] jfirebaugh commented on #514
That's incorrect -- the zoom value in a stop can be any number; it's never required to be an integer.

`interpolated` functions interpolate between stops. `piecewise-constant` functions are used where the property type isn't interpolatable: enums, booleans, and strings. (I believe `piecewise-constant` vs `interpolated` are actually redundant, in the sense that they're entirely determined by the ty

[2016-11-19 01:39] davidtheclark commented on #514
Thanks, @jfirebaugh.

It sounds to me, then, like we have two problems: a documentation problem, and a UI problem.

Maybe we need to add a note in https://www.mapbox.com/mapbox-gl-style-spec/#types-function in "Zoom functions". Here's my attempt — what do you think?

For the UI problem, I will open a ticket in Studio.

[2016-11-19 01:55] #560 closed, assigned to nobody

[2016-11-21 18:42] #514 closed, assigned to davidtheclark

[2016-11-22 21:06] tmcw commented on #233
To unpack what's necessary to implement this feature:

1. Naming - `regex` or `~`
2. Compatibility across GL JS and GL Native

1 will likely be 10% of the work or less. Problem number 2 is more complex.

If the JavaScript port (GL JS) uses [JavaScript's built-in RegExp object](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/RegExp), then GL Native will need to incl

[2016-11-22 21:59] 1ec5 commented on #233
@jfirebaugh points out that we can use [`std::regex`’s ECMAScript regex support](http://en.cppreference.com/w/cpp/regex/ecmascript) in gl-native to ensure compatibility between GL JS and the native SDKs. However, note that `std::regex` supports some features that browsers don’t, like `[:alnum:]`.

In any case, I would be very much prefer that we use the platform-provided regex facilities in gl-nat

[2016-11-22 22:27] 1ec5 commented on #233
In chat, @tmcw brought up a valid concern that a user might input a regex for a filter that _appears_ to do the right thing in GL JS, but it happens to prevent the layer from showing up at all on iOS. There’s no substitute for testing, but I agree that we should aim to make the live preview in Studio as faithful to the rendered output as possible.

The thing is, I think the subset of features in I

[2016-11-26 20:01] 1ec5 opened #581 "Nine-part resizable images"
As part of moving style images inline (#220), we should add support for resizable images, also known as _border images_ in [CSS](https://www.w3.org/TR/css3-background/#border-images) and on [Qt](http://doc.qt.io/qt-5/qml-qtquick-borderimage.html), _stretchable images_ on [iOS](https://developer.apple.com/reference/uikit/uiimage#1658362), _nine-part images_ on [macOS](https://developer.apple.com/re

[2016-11-26 20:04] 1ec5 commented on #36
Nine-part images are important for more than just highway shields, so I’ve opened a separate issue to discuss them: #581.

In addition to nine-part images, having a dedicated way to define how label text is styled and superimposed on a nine-part image would make it possible to define a syntax for styling concurrent route shields without requiring a separate layer for each combination of shield typ

[2016-11-28 12:50] kkaefer commented on #104
I've spent some time thinking through potential syntax in the stylesheet and dug out an old prototype from this spring. Ultimately, a syntax like @lucaswoj proposed in https://github.com/mapbox/mapbox-gl-style-spec/issues/104#issuecomment-248429888 makes most sense and would fit into the existing filter/expression model that we already use for feature filtering.

The main caveat I'm seeing is that

[2016-11-28 16:20] davidtheclark commented on #104
I'm in favor of the `1ec5-token-selection-104` syntax: I think that using a cases array for specifying fallbacks is more clear and more flexible than adding `"default"` or `"fallback"` properties to individual token objects, or creating complex arrays blending keywords and string values.

My immediate thought about adding additional properties to token objects (like `"transform"`) is that it would

[2016-11-28 16:51] kkaefer commented on #104
While we're expanding the syntax to support fallbacks, it'd be great to add a slightly more complex syntax to allow for conversions like meters to feet, and basic mathematical operations like rounding, and number formatting (think thousands formatting, or limiting float precision).

The syntax in `1ec5-token-selection-104` suffers from combinatorial explosion when combining multiple fields. A synt

[2016-11-28 17:04] cammace commented on #581
I've been running into this distortion issue with the images i've been adding to the map during runtime. It would be great to also be able to use [`icon-color`](https://www.mapbox.com/mapbox-gl-style-spec/#paint-icon-color) on the nine-patch images.

[2016-11-28 17:19] kkaefer commented on #104
I looked at various possible use cases of expressions and identified these:

- **Mathematical operations**
  - for dynamic visualizations, e.g. https://github.com/mapbox/mapbox-gl-function/issues/28#issue-181777078

- **Unit conversions**
  - e.g. meters => foot, degrees => Fahrenheit
  - requires mathematical operations and rounding

- **Number formatting**
  - specify floating precision, thousan

[2016-11-28 17:40] tmcw commented on #104
To frame how we think about this kind of feature for Studio:

Having a simple representation of a value and a complex, powerful representation of the same value usually means, for Studio, that we need to build a nice, robust UI for _both_. The thing is, base styles are editable in Studio: you can open a bright, dark, emerald, etc style - a complex style that should exploit every advantage we have

[2016-11-28 18:18] ajashton commented on #104
Would this include checking presence of icons in the sprite?

[2016-11-28 19:05] 1ec5 commented on #104
Note that https://github.com/mapbox/mapbox-gl-style-spec/issues/362#issuecomment-161857532 is more or less implemented in 1ec5-token-default-104. I implemented the alternative syntax in 1ec5-token-selection-104 for some use cases that weren't addressed by the token-default syntax. I'd encourage everyone to check out the unit tests on both branches to get a sense of what's possible with each approa

[2016-11-28 19:28] jfirebaugh opened #582 "Specify what happens when evaluating a categorical function input that's not in the domain"
E.g. what does `{"type": "categorical", "property": "p", "stops": [["foo", 0]]}` evaluate to for the property value "bar"?

[2016-11-28 19:34] jfirebaugh opened #583 "Expand SDK Support matrix for functions"
The SDK Support matrix should include rows for:

* `property` property
* `type` property
* `exponential`, `interval` and `categorical` types

[2016-11-28 19:38] #554 closed, assigned to lbud

[2016-11-28 19:44] jfirebaugh opened #584 "Use words instead of symbols"
Replace ![image](https://cloud.githubusercontent.com/assets/98601/20683177/d3f5ea44-b55f-11e6-8153-d88128b80f37.png) and ![image](https://cloud.githubusercontent.com/assets/98601/20683188/dc589cea-b55f-11e6-883b-0d55346e81ed.png) with words ("continuous" and "discrete"?).

You can't search for symbols to see what properties use which type, and the meaning isn't clear from the symbol.

[2016-11-29 04:50] davidtheclark opened #586 "Questions about property- and property-zoom functions"
I'm trying to build a first-draft UI for these in Studio and ran into a few questions. I didn't find answers in the style spec docs, so I'm thinking that maybe when I have answers I'll try to add them to the docs:

- Is there a minimum number of stops for property- or property-zoom functions? (Or zoom functions for that matter. I know in Studio we're enforcing a minimum of two, but does the spec r

[2016-11-29 04:52] davidtheclark commented on #586
cc @mapbox/appbox

[2016-11-29 13:25] kkaefer commented on #581
Might be subsumed by https://github.com/mapbox/mapbox-gl-style-spec/issues/222?

[2016-11-29 18:04] jfirebaugh commented on #402
We dealt with this by adding `auto` enum values for the properties in question, and documenting how they behave.

In general, conditional defaults add complexity to the implementation and the mental model required to author styles. We should try not to add more.

[2016-11-29 18:04] #402 closed, assigned to nobody

[2016-11-29 18:08] jfirebaugh commented on #586
The minimum is 1. This is [enforced by the validator](https://github.com/mapbox/mapbox-gl-style-spec/blob/873f61aa18697ca93ad20be19f75c188cec863a8/lib/validate/validate_function.js#L59-L61).

I filed #582 related to this, and #480 is also related.

Yes. Note that you can't really rely on this property for anything meaningful because it indicates which properties could _conceivably_ someday support

[2016-11-29 18:11] davidtheclark commented on #586
If `'data-driven styling'` is supported, then, it will favor both types of functions, right?

[2016-11-29 18:16] jfirebaugh opened #587 "Non-categorical functions with string stops?"
How does this function work? E.g. what is the evaluated value for a feature whose `p` property is "fuzz"?

[code]

What about this one? Is it valid?

[code]

cc @lucaswoj

[2016-11-29 18:19] jfirebaugh opened #588 "Specify what happens with exponential or interval property function type mismatches"
For example, what is the result of evaluating the following function against a feature whose `p` property value is not numeric?

[code]

cc @lucaswoj

[2016-11-29 18:21] jfirebaugh commented on #586
Correct.

[2016-11-29 19:02] lucaswoj commented on #587
String domains only make sense for `categorical` functions. `exponential` and `interval` functions require a numeric domain.

[2016-11-29 19:04] lucaswoj commented on #588
Currently this is undefined behaviour.

If we're looking to define the behaviour in this case, I'd suggest implementing a default value per https://github.com/mapbox/mapbox-gl-style-spec/issues/480 and using that value in cases like this.

[2016-11-29 19:27] jfirebaugh opened #589 "Validator should prohibit zoom-and-property functions missing property property"
This should be an error:

[code]

[2016-11-29 19:47] jfirebaugh commented on #514
Turns out I was wrong about this: the validator currently does [enforce integer zoom levels for `piecewise-constant` functions](https://github.com/mapbox/mapbox-gl-style-spec/blob/f206557dd7b8ac61be8664f2f23555077f46f370/lib/validate/validate_function.js#L119-L121). This dates from https://github.com/cutting-room-floor/mapbox-gl-style-lint/issues/45. I don't remember what the original rationale wa

[2016-11-29 19:57] jfirebaugh opened #590 "Don't restrict functions for piecewise-constant properties to integer zoom levels"
Ticketing from https://github.com/mapbox/mapbox-gl-style-spec/issues/514#issuecomment-263678082:

The validator currently [enforces integer zoom levels for `piecewise-constant` functions](https://github.com/mapbox/mapbox-gl-style-spec/blob/f206557dd7b8ac61be8664f2f23555077f46f370/lib/validate/validate_function.js#L119-L121). This dates from https://github.com/cutting-room-floor/mapbox-gl-style-lin

[2016-11-29 20:32] scothis commented on #494
What's the rational for keeping the minified resources committed in the repo instead of creating them at publish time? The [commit that introduced the minified files](https://github.com/mapbox/mapbox-gl-style-spec/commit/f9e1c8a2ce311d47b80ee0bdccffae902db52c15) doesn't offer any detail as to why.

[2016-11-29 20:42] jfirebaugh opened #592 ""property-function" should be false until supported in an SDK"
Until we know for sure that we'll support data-driven styling for a particular property, the value for `"property-function"` should be `false`, for validation and Studio's purposes.

* It's easy to go from "property function not allowed" to "property function allowed", but going the other direction risks causing validation problems for existing styles.
* Studio should be able to use the value of t

[2016-11-29 20:44] jfirebaugh commented on #494
There isn't a publish step involved when mapbox-gl-style-spec is used in mapbox-gl-js.

[2016-11-29 21:02] jfirebaugh opened #593 "Prohibit mixed stop value types for zoom-and-property functions"
The validator prohibits:

[code]

It should also prohibit:

[code]

[2016-11-29 21:18] jfirebaugh opened #594 "Validate ascending stop order for zoom-and-property functions"
For zoom and numeric-stopped property functions, the validator ensures that stops appear in ascending order. There's no such validation for zoom-and-property functions, but there should be.

[2016-11-29 21:26] jfirebaugh opened #595 "Why are stop values for property functions allowed to be an array?"
Why is array included in [this list](https://github.com/mapbox/mapbox-gl-style-spec/blob/d91d3cd4bce435a75cebf8fd17501bfadfa046e4/lib/validate/validate_function.js#L136-L138)? Do we really want to allow, e.g.:

[code]

This seems like a crazy edge case that we shouldn't support.

cc @lucaswoj @ansis

[2016-11-29 21:28] jplante commented on #379
We are hoping to support:
- opacity
- color
- width
- pattern (dash array or similar)

[2016-11-29 21:59] ansis commented on #595
I agree it shouldn't be supported

[2016-11-29 22:39] 1ec5 commented on #581
Not necessarily. While both nine-part images and a truly scalable image format have some overlap of use cases (especially for highway shields), there’s a lot of good tooling and native platform support around nine-part images that likely won’t be compatible with any custom image format we develop. So nine-part images would be desirable for better platform integration at least.

[2016-11-29 22:53] 1ec5 commented on #222
@samanpwbb clarified in chat that the main use case for the feature described in this issue is to have a style image scale cleanly using `icon-size`, whereas multiple screen resolutions can already be supported via separate `@1x` and `@2x` sprite sheets.

#581 is a related idea about leveraging the tooling around nine-part images that’s present on all the native platforms. Highway shields would be

[2016-11-29 23:45] 1ec5 opened #597 "“Image stacks” for image properties"
The image properties – `background-pattern`, `fill-extrusion-pattern`, `fill-pattern`, `line-pattern`, `icon-image` – should accept an array of strings as an alternative to a single string. As with `text-font`’s “font stack”, the renderer should loop over the items of the array, selecting the first value that corresponds to a valid image in the style. Tokens in each item should be evaluated as the

[2016-11-29 23:48] jfirebaugh commented on #597
Can you say more about the rationale for this feature? Why is it useful?

[2016-11-30 00:06] ajashton commented on #597
Map designer POV: Say I want to make a set of totally custom icons for my map but still take advantage of the `{maki}` name token from Mapbox Streets. That means I need to either provide an icon image for every possible value of `{maki}`, or create a rather lengthy filter on the layer to specify the exact `maki` values I want to include. With a fallback I can create a generic default icon, and foc

[2016-11-30 00:19] 1ec5 commented on #597
Along these lines, a style designer currently needs to jump through a lot of hoops to implement highway shields. The Mapbox Streets source’s `{shield}` field may be one of [dozens of values](https://www.mapbox.com/vector-tiles/mapbox-streets-v7/#road_label), each of which (together with `{reflen}`) corresponds to a series of images in the style. For example, `ro-communal` corresponds to the images

[2016-11-30 01:18] jfirebaugh opened #599 "Validator should prohibit categorical functions missing property property"
A categorical zoom function isn't much use.

[2016-11-30 01:25] jfirebaugh opened #600 "Are categorical zoom-and-property functions allowed?"
Categorical zoom functions are clearly not useful (#599), but what about categorical zoom-and-property functions?

As I understand it, the zoom portion of a zoom-and-property function is always exponentially interpolated, regardless of the `"type"`.

cc @lucaswoj @ansis

[2016-11-30 01:26] jfirebaugh opened #601 "Validator needs to prohibit explicit exponential functions for piecewise-constant style properties"
This should be an error:

[code]

[2016-11-30 01:29] jfirebaugh opened #602 "Specify what happens when an identity function evaluates to the wrong type"
[code]

What happens if there's a feature whose "p" property value isn't a number?

[2016-11-30 02:07] jfirebaugh opened #603 "Are "identity" zoom functions allowed?"
[code]

Is this allowed?

[2016-11-30 02:13] 1ec5 commented on #104
Up to this point, we’ve discussed two primary use cases for token fallbacks (formatting and conversion options aside):

* Image fallbacks. A style designer shouldn’t have to provide an image for every `{shield}`/`{reflen}` combination or every `{maki}`/size combination that the Mapbox Streets source makes possible.
* Bilingual labels. The Mapbox Streets source currently duplicates the name of ever

[2016-11-30 02:33] jfirebaugh opened #604 "Exhaustively enumerate allowable function types"
We've accumulated a proliferation of species of function. In order to implement them all correctly in a strongly typed language, we're going to have to be stricter and more explicit than we have been so far in terms of enumerating what kinds of function are allowed in what situations. I've been trying to work it out and here's what I've come up with.

The allowed kinds of function depend on the _s

[2016-11-30 05:44] ajashton commented on #104
I've thought about this and have no good suggestions, only more complications. Mainly that it might be undesirable to show name_en even if is just _similar to_ the untranslated name. Eg "Québec (Quebec)" does not seem like a label I would want to add to a map.

[2016-11-30 05:49] 1ec5 commented on #104
The case and diacritic folding functionality requested in #548 would fit in with the generalized conditional syntaxes that have been proposed so far. For anything beyond case and diacritic folding, we’d probably have to implement a [Levenshtein distance](https://en.wikipedia.org/wiki/Levenshtein_distance) function for use inside conditionals, or the source would have to provide more fields to indi

[2016-11-30 18:35] davidtheclark opened #606 "Allow boolean input values for property functions"
Right now a boolean input value (the reference field value) for a property function is invalid: https://github.com/mapbox/mapbox-gl-style-spec/blob/mb-pages/lib/validate/validate_function.js#L133.

But this seems like a valid and not-uncommon use-case. E.g. "I am a grumpy groundskeeper and have a bunch of dots representing houses I oversee. Each house feature has a 'paid-for' property whose value

[2016-11-30 18:38] lucaswoj opened #607 "Add "circle-stroke-dasharray" property"
ref https://github.com/mapbox/mapbox-gl-style-spec/issues/379#issuecomment-263704489

[2016-11-30 18:39] lucaswoj commented on #379
Implementing `circle-stroke-dasharray` is too big a lift to make it into our initial implementation. I've opened https://github.com/mapbox/mapbox-gl-style-spec/issues/607 to track this feature request.

[2016-11-30 18:41] lucaswoj commented on #595
This was a mistake on my part. The intention was to allow stops for range values, not domain values.

[2016-11-30 18:50] lucaswoj commented on #606
No reason I can think of. We should add this.

[2016-11-30 19:10] lucaswoj commented on #603
I can't think of a reason why we shouldn't allow this unless it adds implementation complexity.

[2016-11-30 19:13] jfirebaugh commented on #603
It will add four additional rows to #604, which translates to implementation complexity for gl-native.

[2016-11-30 19:54] tmcw commented on #494
I have the same question as @scothis: when we publish mapbox-gl-js, there is a `.min.js` file generated that minifies dependencies like this one. Seeing our require tree, any kind of browserify application that does `require('mapbox-gl-style-spec')` requires both min & non-min versions of every style version, and then goes through uglifyjs and has duplicate code as a result.

[2016-11-30 19:56] #587 closed, assigned to jfirebaugh

[2016-11-30 19:56] #593 closed, assigned to jfirebaugh

[2016-11-30 19:56] #595 closed, assigned to jfirebaugh

[2016-11-30 20:00] jfirebaugh commented on #494
Yes, and every version (v6, v7, v8). I don't see this as an issue -- if a package wants a minimal version, it should do what gl-js does: `require('mapbox-gl-style-spec/reference/latest.min')`. Minimizing the bundle size is exactly the reason that the `.min.js` file exists in the first place.

[2016-11-30 20:02] tmcw commented on #494
Unfortunately, that isn't the only way that Studio uses the style spec. For instance, when we validate styles: we could sub-require validate_style.js, but that [requires ../](https://github.com/mapbox/mapbox-gl-style-spec/blob/mb-pages/lib/validate_style.js) so we're back to the same problem.

[2016-11-30 20:07] jfirebaugh commented on #494
`require('mapbox-gl-style-spec/lib/validate_style.min')`

[2016-11-30 20:20] nextstopsun commented on #224
@jfirebaugh Any progress on this issue? My use case is I need to create a hover effect on features from multiple layers. I like the approach of having a hidden layer with a filter that changes according to hovered feature id. But for now I've got to have a "hover" version of every layer instead of having just one hidden layer for all hovered ones.
BTW what is faster cpu-wise: setting a filter on a

[2016-11-30 20:27] #119 closed, assigned to nobody

[2016-11-30 20:27] jfirebaugh commented on #163
Haven't heard any demand for this.

[2016-11-30 20:27] #163 closed

[2016-11-30 20:31] tmcw commented on #494
Okay, how about migrating styles? Not seeing a `migrate.min.js`.

Still not understanding the logic: we include min.js to minimize _uncompressed_ bundle size of packed modules that depend on this one? When is that a priority?

[2016-11-30 20:31] jfirebaugh commented on #486
We're proceeding with the "remove refs" approach.

[2016-11-30 20:31] #486 closed, assigned to nobody

[2016-11-30 20:33] jfirebaugh commented on #516
⇢ #583

[2016-11-30 20:33] #516 closed, assigned to nobody

[2016-11-30 20:33] #533 closed, assigned to nobody

[2016-11-30 20:58] tmcw opened #609 "Do we need min JSON files in gl-style-spec?"
Split from #494

Right now gl-style-spec includes minified versions of the style spec, and requires/re-exports them in index.js. The rationale for this is, as far as I know, so that uncompressed Mapbox GL JS builds are smaller. There's no effect on compressed Mapbox GL JS sizes.

The side effects are:

- Any bundled application that calls `require('mapbox-gl-style-spec')` includes 2 copies of ever

[2016-11-30 21:03] jfirebaugh commented on #609
In addition to removing whitespace, the minified files also omit `doc`, `example`, and `sdk-support` properties. So I believe there is an effect on compressed Mapbox GL JS sizes. If you've empirically tested this and saw otherwise, let me know.

[2016-11-30 21:05] jfirebaugh commented on #609
There's no good reason for `index.js` to include the minified versions. We can remove that, which would address the first two points.

[2016-11-30 21:38] scothis commented on #609
In the case of Studio, we need the extra metadata that the min file drops, so that's of no help.

My initial reason for questioning the existence of the min files is that any web app sophisticated enough to require a json file from a npm package is also sophisticated enough to run it's own minifier and gzip the result.

Minified and gziped, the full v8 spec is 9K, while the min spec is 2.5KB. The

[2016-11-30 21:44] jfirebaugh commented on #609
The issue with this is that validation code need access to a spec JSON object. In order to extract minification downstream, we'd also need to change the validation API so that the spec JSON dependency is an external dependency.

[2016-11-30 22:17] jfirebaugh commented on #606
This will also require downstream changes in mapbox-gl-function [here](https://github.com/mapbox/mapbox-gl-function/blob/41c6724e2bbd7bd1eb5991451bbf118b7d02b525/index.js#L22), unless we revert https://github.com/mapbox/mapbox-gl-function/issues/19, which I'm arguing we should do in https://github.com/mapbox/mapbox-gl-js/issues/3717#issuecomment-264011926.

[2016-12-01 00:41] jfirebaugh opened #610 "Prohibit categorical functions with fractional stop domain values"
Because categorical functions rely on equality-based identity, and floating point values cannot reliably be compared for equality, the validator should prohibit categorical functions which use stop domain values that aren't integers. For example, the following should be disallowed:

[code]

[2016-12-01 00:43] jfirebaugh opened #611 "Require unique categorical function domain values"
The following should be prohibited:

[code]

[2016-12-01 00:45] scothis opened #612 "Zoom functions for light properties"
The spec appears to permit zoom functions for light properties, and gl-js happily handles them correctly, however, the validator rejects zoom functions for light properties.

I assume the spec and gl-js is correct and the validator is wrong, but wanted to confirm before I submit a PR for the validator.

cc @lbud

[2016-12-01 00:51] lbud commented on #612
@lucaswoj just merged a related PR today (https://github.com/mapbox/mapbox-gl-style-spec/pull/598) — @scothis does that fix it or are you seeing another issue?

[2016-12-01 01:12] scothis commented on #612
Yep, that did the trick. Someday I'll learn to search more than just the open issues list before creating a new ticket.

[2016-12-01 01:12] #612 closed, assigned to nobody

[2016-12-01 16:31] #586 closed, assigned to nobody

[2016-12-01 22:01] davidtheclark commented on #584
Why introduce "continuous" and "discrete" into the mix when there's already "interpolated" and "piecewise-constant"? My head is being tied into knots by the number of "function types"
༼ ºººººل͟ººººº ༽

[2016-12-01 22:14] jfirebaugh commented on #584
Yeah, when I wrote that I forgot that we already had the terms "interpolated" and "piecewise-constant". We should be consistent and use one set or the other everywhere.

I have a proposal brewing to rationalize the current set of function types into something more understandable. Stay tuned.

[2016-12-01 23:18] jfirebaugh opened #613 "Rationalize and simplify the taxonomy of functions"
The space of function types is currently difficult to grok because there are effectively two axes of function types:

* identity, exponential, interval, and categorical
* zoom, property, zoom-and-property

It's not well documented or easy to grasp how these two axes combine, or what combinations are valid. I've tried to do so in #604, but this doesn't remove the underlying complexity from the doma

[2016-12-02 00:33] davidtheclark commented on #613
One point here worth reconsidering (or maybe you'd already reconsidered it enough) is the term `property`. Not only is it an overloaded term, but, as @tmcw pointed out in chat, it seems inconsistent with the vector tile spec's use of `attribute`: https://www.mapbox.com/vector-tiles/specification/#encoding-attr, https://github.com/mapbox/vector-tile-spec/tree/master/2.1#44-feature-attributes. The m

[2016-12-02 00:54] jfirebaugh commented on #613
I'd like to stick with "property". https://github.com/mapbox/vector-tile-spec/issues/63

[2016-12-02 01:54] jfirebaugh commented on #379
Implemented in #579.

[2016-12-02 01:54] #379 closed, assigned to nobody

[2016-12-02 09:50] kkaefer commented on #104
While I think I'm warming up to the selection syntax, #548 won't solve the issue of "Québec (Quebec)", since it'll take the first one that is available? It seems like most of the discussion here revolves around creating a UI for a formatting/control flow. A flow-chart like UI could capture this, but is hard to develop and adds a lot of additional complexity to studio. Creating a mini-language that

[2016-12-02 09:56] 1ec5 commented on #613
FYI, the iOS and macOS SDKs do standardize on “attribute” because “property” is already a language feature. I just couldn’t fathom MGLFeature storing properties inside a `properties` property (but not properties like `identifier` and `coordinates`). Fortunately, that kind of confusion seems to be less of a problem for the style and vector tile specifications than for the SDKs.

[2016-12-02 10:56] 1ec5 commented on #104
That’s correct. #548 is only relevant to this discussion if we implement a generalized conditional syntax that looks uncannily similar to the filter syntax.

This is going to get into the weeds real fast, but one solution would be to introduce a complementary set of operators, such as `equals-property` and `equals-property-case-insensitive`, for use in filters and this “selection syntax with condi

[2016-12-02 11:08] 1ec5 commented on #597
The implementation for this feature in GL JS would look very similar to the [1ec5-token-selection-104](https://github.com/mapbox/mapbox-gl-js/compare/1ec5-token-selection-104) branch (which is a proposed implementation of #104), but more tightly scoped so that non-image fields are unaffected by the changes. For simplicity’s sake, we’d continue to represent tokens with the `{token}` syntax until we

[2016-12-02 11:18] kkaefer commented on #613
It seems like `identity` is a special case of a `continuous` function?

[2016-12-02 15:56] samanpwbb commented on #613
I think this proposal simplifies and clarifies the function spec. The main UI challenge here will be communicating the four function types: continuous, discrete, identity, composite to users. Onces a user understands them, everything else will be much more intuitive.

Some thoughts:

- There is temptation in Studio to try to 'guess' function types for users based on information about data coming f

[2016-12-02 18:14] jfirebaugh commented on #613
An identity function returns the value of the selected property. In some cases (when the property values form a continuous domain/range), it can be viewed as a special case of `continuous`, but I think it's better served with a distinct type:

* Identity functions don't allow `interpolation-*` or `stops` properties and their evaluation algorithm is different than a continuous function.
* Some prop

[2016-12-02 18:21] jfirebaugh commented on #613
We could split out another type: `zoom`. This type would work like `continuous`, but it would not allow a `property` property, and `continuous` could then require `property` and always be "data-driven". This partitions the types:

zoom-driven: `zoom`
data-driven: `continuous`, `discrete`, `identity`
zoom-and-data-driven: `composite`

We've talked about allowing e.g. pitch-driven functions, so to g

[2016-12-02 18:52] 1ec5 commented on #613
Not to derail this discussion, and I’m not sure how practical it would be, but I wonder if it’d be more useful to vary paint and layout properties by viewing distance (as a more generalized version of zoom level) than by pitch. That is, when the pitch is 60°, a marker close to the viewer would use a more detailed icon while a marker far from the viewer would abbreviate its label more, and this wou

[2016-12-02 19:04] lucaswoj commented on #613
I'm excited about this effort to simplify the function syntax! We have learned so much about the UX of functions since the initial syntax was designed.

The taxonomy of functions proposed in https://github.com/mapbox/mapbox-gl-style-spec/issues/613#issuecomment-264524327 is great. By eliminating invalid combinations of functions we make the spec more robust, understandable, and pave the way for UI

[2016-12-02 19:12] anandthakker commented on #613
This definitely clarifies and simplifies the function landscape.  How does this interact with the idea of bringing in arbitrary function expressions (https://github.com/mapbox/mapbox-gl-function/issues/28)?  Would that provide an alternative to some of the concepts in this proposal?  For instance:
 - If the arbitrary function approach could treat `zoom` and `properties.foo` (and `properties.bar`,

[2016-12-02 19:16] lucaswoj commented on #613
It is possible to simplify the taxonomy further by making the domain values the source of truth for the "nature" of the data (`continuous` vs `discrete` vs `identity`)

 - a string or boolean domain indicates a discrete function
 - a numeric or numeric array domain indicates a continuous function
 - the lack of a domain indicates an identity function

I recognize that this taxonomy does not lend i

[2016-12-02 19:27] jfirebaugh commented on #613
A numeric does not necessarily indicate a continuous function. Numeric values are sometimes used as enumerated constants.

[2016-12-02 19:31] jfirebaugh commented on #613
I'm purposefully leaving arbitrary function expressions out of this proposal. We have implementation experience (and are developing UI experience) for the function types in this proposal, and the proposal is guided by that experience. We don't have equivalent experience with function expressions.

[2016-12-02 19:56] lucaswoj commented on #613
This is a moot point in practice. If the domain is a set of enumerated constants, there's no* input value for which the output value of a numeric "source-continuous" function is different than the output value of a "source-discrete" function.

[code]

\* Depending our implementation, _invalid_ domain values may result in a different output values. The behaviour in this case could be controlled by

[2016-12-02 19:57] jfirebaugh commented on #613
Earlier I said I'd prefer not to merge `identity` with `continuous`, but I _can_ imagine merging all three of `continuous`, `discrete` and `identity` into a single `source` type. `identity` would be replaced with a `source` type function without `stops` or `interpolation-*`, while `discrete` would be replaced with a `source` type function with `"interpolation": "none"`.

This produces three types:

[2016-12-02 19:58] jfirebaugh commented on #613
It isn't moot once we introduce default values for discrete functions. https://github.com/mapbox/mapbox-gl-style-spec/issues/480

[2016-12-02 20:00] lucaswoj commented on #613
Good point. Could it make sense to have a `"interpolation": "default-value"` mode?

[2016-12-02 20:05] #442 closed, assigned to jfirebaugh

[2016-12-02 21:42] mourner commented on #613
Love the proposal! This will certainly make things much easier to reason about. The only point I'm not sure about is the composite functions proposal (item 5 in the post) — turning them into nested functions where outer/inner functions can have different interpolations sounds pretty complicated (in addition to making the definitions huge). As far as I recall, @ansis considered this at some point b

[2016-12-03 19:28] davidtheclark commented on #480
A clarification question: By "undefined" are we referring to both `undefined` and `null`? Or is `null` going to have to be a separate conversation?

[2016-12-03 19:29] davidtheclark commented on #582
I think this issue and #480 are vital for making categorical functions seem "usable". I'm not sure I'd feel very comfortable shipping a public DDS UI in Studio without them. (cc @mapbox/appbox)

[2016-12-03 19:32] davidtheclark commented on #604
What is the difference between a *non-data-driven* interval zoom function and a *data-driven* interval zoom function, if interval zoom-and-property is also in the list? Same question applies to exponential zoom functions.

[2016-12-05 16:10] samanpwbb commented on #613
We would likely design a UI like this either way so I am in favor writing it into the spec so our ui models the spec better.

[2016-12-05 17:51] jfirebaugh commented on #604
@davidtheclark That was a mistake, I removed the zoom variants from the "data-driven" categories.

[2016-12-05 17:53] jfirebaugh commented on #604
Wait no, it wasn't a mistake. The "non-data-driven"/"data-driven" headings refer to whether or not a particular style property is data-driven, not categories of function type. If a style-property is enabled for data-driven styling, it still supports zoom functions.

[2016-12-05 18:14] jfirebaugh commented on #480
We're not referring to either a literal `undefined` or `null` input value, but rather to the case where the feature properties have no key-value pair for the desired property at all.

`null` is a separate conversation. Functions and filters don't currently have a notion of `null` values, largely because [neither does the vector tile specification](https://github.com/mapbox/vector-tile-spec/issues/

[2016-12-05 23:18] #589 closed, assigned to jfirebaugh

[2016-12-05 23:18] #599 closed, assigned to jfirebaugh

[2016-12-05 23:18] #601 closed, assigned to jfirebaugh

[2016-12-06 01:03] jfirebaugh commented on #613
These three types correspond to three fundamental strategies in the rendering implementation:

* A `camera` function is evaluated on the CPU, on the main thread. The result is provided to the shader via a uniform (in GL JS) or constant attribute (in GL native).
* A `source` function is evaluated on the CPU, on the worker thread. The result (an array of per-feature values) is provided to the shader

[2016-12-06 07:23] 1ec5 commented on #97
For what it’s worth, iOS and macOS developers can add a template image to their asset catalog and add it to the style using `-[MGLStyle setImage:forName:]`. The iOS and macOS SDKs automatically convert template images to SDF icons, as a developer would expect on those platforms. No documentation is needed for this particular use of SDF icons, which is internal to the native SDKs and doesn’t touch

[2016-12-06 07:27] 1ec5 commented on #444
By itself, this limitation doesn’t sound like a dealbreaker to me. Without commenting on the merits of this particular format, I just want to point out that Apple platforms make heavy use of [template images](https://developer.apple.com/library/content/documentation/UserExperience/Conceptual/UIKitUICatalog/index.html#//apple_ref/doc/uid/TP40012857-UIView-SW7) (also known as “stencil images”) that,

[2016-12-08 01:19] #610 closed, assigned to jfirebaugh

[2016-12-08 01:19] #611 closed, assigned to jfirebaugh

[2016-12-08 01:19] #594 closed, assigned to jfirebaugh

[2016-12-08 20:44] jfirebaugh commented on #36
@nickidlugash Are there additional style spec features needed for highway shields beyond `icon-text-fit`, `icon-text-fit-padding`, and nine-part resizable images, or can we close this issue?

[2016-12-08 20:50] jfirebaugh commented on #254
Closing -- I think it's unlikely we'd do this due to the technically difficulty and possibility of conflicting with making the properties data-driven.

[2016-12-08 20:50] #254 closed

[2016-12-08 22:57] nickidlugash commented on #36
@jfirebaugh hmm so the original intent behind this ticket was addressed a while back:

In terms of actual highway shield generation in the renderer, even nine-part resizeable images would not enable us to generate our more complex highway shields, but we can discuss this on other tickets. I can close here.

[2016-12-08 22:57] #36 closed

[2016-12-08 23:26] 1ec5 commented on #36
Nine-part images would help with the most common shield shapes (rounded rectangles), but indeed the fancier shapes would require other solutions, such as choosing a different shield based on the reflen. #597 would make that more scalable.

[2016-12-09 09:07] bensleveritt commented on #456
@lbud Is there a plan to create tickets for levitated line and circles? After playing with the extrusion layer (and loving it), it'd be great to get lines that correlated vertically with their extrusion. Also circles.

[2016-12-09 19:07] #592 closed, assigned to jfirebaugh, lucaswoj

[2016-12-09 20:00] lbud commented on #456
@bensleveritt there's discussion happening at https://github.com/mapbox/mapbox-gl/issues/6 about how we may approach "levitated" features.

[2016-12-11 01:45] jfirebaugh opened #620 "Validator should prohibit use of source-layer for GeoJSON sourced layers"
`source-layer` should be prohibited for layers whose source is a GeoJSON layer, not merely ignored, or in the example of https://github.com/mapbox/mapbox-gl-js/issues/3779, used in a way that prevents the layer from displaying at all.

Marking this as v9 as it would be an increase in strictness that that's likely to affect existing styles, including ones used with the current styles API.

[2016-12-13 11:42] bensleveritt commented on #456
@lbud Thanks, I did see that, but I wasn't sure it was the most up to date tracking of the feature.

[2016-12-14 18:41] jfirebaugh commented on #405
See ☝️  linked issues for examples of where the current default leads to confusion.

[2016-12-15 00:34] jfirebaugh opened #621 "Update sdk-support matrixes for Android 4.2.0"
Newly supported:

* GeoJSON source: clustering
* `icon-rotation-alignment`: `auto` value
* `icon-text-fit`: basic functionality
* `icon-text-fit-padding`: basic functionality
* `text-pitch-alignment`: basic functionality and `auto` value
* `text-rotation-alignment`: `auto` value
* `circle-pitch-scale`: basic functionality

cc @cammace

[2016-12-15 00:40] jfirebaugh opened #622 "Fix sdk support matrix for text-pitch-alignment"
The "basic functionality" row is wrong. Correct values are "Not yet supported" for for iOS and "4.2.0" for Android.

cc @aaronlidman

[2016-12-15 00:41] jfirebaugh commented on #621
#622

[2016-12-15 18:49] #621 closed, assigned to jfirebaugh

[2016-12-15 18:49] #622 closed, assigned to jfirebaugh

[2016-12-15 21:32] lucaswoj commented on #620
ref https://github.com/mapbox/mapbox-gl-js/issues/3784

[2016-12-15 22:08] lucaswoj opened #624 ""$tile-state" filters on background layer type"
## Requirements

 - designers have the ability to hide the base land color until all tiles at that coordinate have loaded so that a loading pattern (grid?) beneath the map can show through
 - designers have the ability to show a pattern over tiles that are still loading
 - designers have the ability to show a pattern over tiles whose requests have errored
 - style spec layer types map exclusively

[2016-12-16 01:03] jfirebaugh commented on #624
My initial reaction is that using `filter` for this feels like an awkward shoehorning. A filter is a function applied to a _feature_, producing a boolean result indicating whether that feature should be included in the tile's layout. What we have here is something different: a function applied to a _source tile_, producing a boolean result indicating whether the tile should be rendered. Generally,

[2016-12-16 18:57] lucaswoj commented on #624
So far we've only provided facilities for filtering features. The concept of a "filter" is more general, however. For example, Javascript offers an `Array#filter` method which can operate on any type of data.

Alternately, you might look at this as a proposal to define a "background" layer as being comprised of "tile features."

I'm still experimenting with each of these options to determine what

[2016-12-19 22:58] jfirebaugh opened #626 "Add "cover" layer type"
Add a new layer type: `cover`.

This layer requires a `source` property, and prohibits the `source-layer` and `filter` properties. It has the paint properties `cover-color`, `cover-pattern`, `cover-opacity`, which behave the same as the equivalent `background` layer properties. In addition, it has a `cover-type` paint property, which is an enumeration with the following values:

* `"tile-loaded"`

[2016-12-19 22:59] jfirebaugh commented on #624
I outlined my preferred solution in #626.

[2016-12-20 16:24] 1ec5 commented on #624
I share the concern that @jfirebaugh expresses in https://github.com/mapbox/mapbox-gl-style-spec/issues/624#issuecomment-267490201 about shoehorning the filter concept into this problem. On the other hand, if there’s the possibility in the future of valid variables beyond `$tile-state`, I can see how having access to operators like `any` and `in` may be useful.

We could mitigate these concerns by

[2016-12-20 16:29] 1ec5 commented on #626
This maps cleanly to what the iOS and macOS SDKs are calling a “[foreground style layer](https://www.mapbox.com/ios-sdk/api/3.4.0-beta.5/Classes/MGLForegroundStyleLayer.html)”, as opposed to the background style layer type we’re trying to phase out. (It isn’t much of a problem that cover layers would provide a background in the artistic sense; we can always massage the class hierarchy in the futur

[2016-12-20 16:57] lucaswoj commented on #624
I expect we will need to include multiple valid variables in the initial implementation in order to meet all use cases.

One potential design has us providing one variable per source:

[code]

We may also need to provide some differentiation between a tile that's loading but covered by overzoomed data and a tile that is loading and not covered by overzoomed data.

----

I like this idea 😄

[2016-12-20 17:09] lucaswoj commented on #624
These are the 4 use cases I anticipate this feature needing to address. I'm working with clients and internal teams to see if any of these are unrealistic or if there are additional use cases we should consider.

 1. Display a pattern over failed tiles from a particular source
 2. Display a pattern over loading or overzoomed tiles from a particular source
 3. Hide background tiles under loading (b

[2016-12-20 21:59] 1ec5 commented on #380
How would this be any different than using `attribution` in a TileJSON file or an inline raster source as an attack vector? It seems like this is an orthogonal concern that would be addressed by something like mapbox/tilejson-spec#20. In the meantime, I think we should give all sources the same attribution mechanism.

[2016-12-21 18:36] lucaswoj opened #628 "Improve function performance for an increasing number of stops"
https://github.com/mapbox/mapbox-gl-function/issues/31

[2016-12-21 18:36] #628 closed, assigned to nobody

[2016-12-21 18:37] lucaswoj opened #629 "Improve function performance with a small # of stops"
As noted in https://github.com/mapbox/mapbox-gl-function/issues/31#issuecomment-267561351, function performance has regressed slightly in the case where we have a small number of stops.

[2016-12-21 18:39] lucaswoj opened #630 "Support arbitrary expressions in functions, filters, and cluster aggregators"
Let's continue the conversation from https://github.com/mapbox/mapbox-gl-function/issues/28 here 😄

To summarize so far:

 - Arbitrary expression functions will make our filters, functions, and cluster aggregators more powerful & flexible
 - Implementing arbitrary expressions will be challenging because they may need to run on the GPU
 - We are leaning towards a lispy syntax comprised of nested ar

[2016-12-21 19:17] 1ec5 commented on #630
Also, devising a workable GUI for arbitrary expressions may be a challenge.

[2016-12-21 19:21] lucaswoj commented on #47
Let's continue the conversation from https://github.com/mapbox/mapbox-gl-function/issues/28 here 😄

To summarize so far:

 - Arbitrary expression functions will make our filters, functions, and cluster aggregators more powerful & flexible
 - Implementing arbitrary expressions will be challenging because they may need to run on the GPU
 - We are leaning towards a lispy syntax comprised of nested ar

[2016-12-21 19:21] lucaswoj commented on #630
My mistake, https://github.com/mapbox/mapbox-gl-style-spec/issues/47 is a better place for this conversation.

I moved over your comment @1ec5 😄

[2016-12-21 19:21] #630 closed, assigned to nobody

[2016-12-21 19:23] lucaswoj commented on #47
@1ec5 Agreed, creating a point & click GUI for this will be a little tricky. I'm not sure that users demand a point and click GUI for this, however. Most computer users are familiar with the notion of editing formulas, in Excel or Numbers for example.

[2016-12-21 19:36] 1ec5 commented on #47
I have no qualms about an inline, text-based GUI for arithmetic or statistical expressions. But as soon as you introduce the notion of [conditionals](https://support.office.com/en-us/article/IF-function-69aed7c9-4e8a-4755-a9bc-aa8bbff73be2), you get a mini string language – an outcome that we took #104 on a tangent to avoid.

[2016-12-21 21:11] lucaswoj commented on #624
Based on some conversations with customers and internal teams, I think #626 is the best choice for now 👍

[2016-12-21 21:17] #624 closed, assigned to nobody

[2016-12-21 22:59] 1ec5 commented on #218
Dropping the redundant prefixes would be highly desirable for the iOS and macOS SDKs, where property names are expected to be grammatical: https://github.com/mapbox/mapbox-gl-native/issues/6577#issue-180968544. As of mapbox/mapbox-gl-native#7457, we have to twist the English language in weird ways to ensure that Boolean property names in particular use the right parts of speech.

[2016-12-21 23:01] 1ec5 commented on #444
The iOS and macOS SDKs now support template images in style layers via SDF icons: mapbox/mapbox-gl-native#7300. Going forward, dropping support for them will be a backwards-incompatible change contrary to developer expectations.

[2016-12-22 13:17] lucaswoj commented on #97
Closing in favor of #444 and https://github.com/mapbox/mapbox-gl-js/issues/3605

[2016-12-22 13:17] #97 closed

[2016-12-22 13:20] lucaswoj commented on #47
Important use cases:

 - unit conversion
 - number formatting
 - token defaults
 - customizable interpolation
 - arithmetic on feature properties within functions

[2016-12-22 13:23] lucaswoj commented on #111
Closing in favor of #576

[2016-12-22 13:23] #111 closed

[2016-12-22 13:23] lucaswoj commented on #117
Closing in favor of #444 and https://github.com/mapbox/mapbox-gl-js/issues/3605

[2016-12-22 13:23] #117 closed

[2016-12-22 13:28] lucaswoj commented on #137
Are we still considering dropping this feature? I infer that that our expansion into `pitch-alignment` properties indicates that this type of control is useful and used. Please re-open if I'm wrong.

[2016-12-22 13:28] #137 closed

[2016-12-22 13:52] lucaswoj commented on #253
Closing as stale

[2016-12-22 13:52] #253 closed

[2016-12-22 13:54] #275 closed

[2016-12-22 13:55] lucaswoj commented on #279
Closing as stale

[2016-12-22 13:55] lucaswoj commented on #279
Actually, this might be valuable in conjunction with #240

[2016-12-22 13:57] lucaswoj commented on #283
"fill" layers are a good fit for this use case.

[2016-12-22 13:57] #283 closed

[2016-12-22 13:59] lucaswoj commented on #532
Closing in favor of #286

[2016-12-22 13:59] #532 closed, assigned to nobody

[2016-12-22 14:01] lucaswoj commented on #287
I don't think there's any way to detect case 1. 😞

Closing this for now as we cannot detect all cases where this setting might need to be enabled.

[2016-12-22 14:01] #287 closed

[2016-12-22 14:04] lucaswoj commented on #321
We have a separate issue for regex support and have already implemented newline support.

[2016-12-22 14:07] lucaswoj commented on #318
It should be ok to use this properties without specifying an `icon-color`. We provide a default `icon-halo-color` of #000000.

[2016-12-22 14:07] #318 closed

[2016-12-22 14:08] lucaswoj commented on #418
Done! The property is a no-op for now. It'll become a validation error in #325

[2016-12-22 14:08] #418 closed, assigned to nobody

[2016-12-22 14:14] lucaswoj commented on #387
Closing in favor of #444 (because we're close to doing it!)

[2016-12-22 14:14] #387 closed, assigned to nobody

[2016-12-22 14:17] lucaswoj commented on #388
Closing in favor of #2803 because we're planning to merge this repo into `mapbox-gl-js` in the near future 😄

[2016-12-22 14:17] lucaswoj commented on #398
Closing as stale

[2016-12-22 14:17] #398 closed, assigned to nobody

[2016-12-22 14:18] lucaswoj commented on #201
Also `symbol-avoid-edges` -> `symbol-allow-edge-overlap`

- is more consistent with the naming of `icon-allow-overlap` and `symbol-allow-overlap`
- prevents users from having to think in double negatives

[2016-12-22 14:19] lucaswoj commented on #404
related to https://github.com/mapbox/mapbox-gl-style-spec/issues/201

[2016-12-22 14:22] lucaswoj commented on #406
We addressed this need by bringing the style validator into GL JS

[2016-12-22 14:22] #406 closed, assigned to nobody

[2016-12-22 14:31] lucaswoj commented on #438
Closely related to #233

[2016-12-22 14:32] lucaswoj commented on #439
This has been addressed with the `metadata` property

[2016-12-22 14:42] lucaswoj commented on #509
Duplicate of #433

[2016-12-22 14:42] #509 closed, assigned to nobody

[2016-12-22 14:44] lucaswoj commented on #519
Fixed!

[2016-12-22 14:44] #519 closed, assigned to nobody

[2016-12-22 14:47] lucaswoj commented on #535
This is awesome 😄

[2016-12-22 14:48] #535 closed, assigned to nobody

[2016-12-22 14:52] KleggerKoder commented on #444
Just curious if mapbox is really in the process of discontinuing support for SDF icons or if there is still the possibility the support will be retained?  My team is currently working with them right now and if support is being dropped for them it would be critical to know that now.

Thanks!

[2016-12-22 16:45] mollymerp opened #633 "Change units of line-dasharray to pixels"
After discussing with @ansis and @jfirebaugh it seems that the most straight-forward way to make data-driven `line-width` and `line-dasharray` possible, would be to change the units of `line-dasharray` to absolute pixels (from relative units of `line-width`) because

This would introduce some complexity in stying lines with `line-dasharray` because they would need additional zoom functions to stay

[2016-12-22 18:08] jfirebaugh commented on #439
I think this is still valid -- the Style API doesn't actually use `metadata` for these properties, due to historical timing. We could decrease the API friction and eliminate the documentation caveat by adding them to the style spec, so that the Style API response validates.

[2016-12-22 18:25] jfirebaugh commented on #321
As noted above: the other issue is for regex support in filters. This is about regex support in functions.

[2016-12-22 18:53] #534 closed, assigned to lucaswoj

[2016-12-22 19:05] lucaswoj commented on #626
It is desirable to continue having our layer types correspond with drawing primitives as they are implemented by most graphics editing software (fill, polygon, line, ...). This correspondence is possible if we reframe "covering a source" as a behaviour that can be applied to a `fill` layer rather than a layer type itself.

In practice, this could look like making the `cover-type` property availabl

[2016-12-22 19:13] 1ec5 commented on #444
Given https://github.com/mapbox/mapbox-gl-style-spec/issues/444#issuecomment-268666713, I don’t think dropping SDF without a replacement would be feasible in the near-term.

[2016-12-22 19:22] 1ec5 commented on #633
This would also be good for parity with MapKit in the iOS and macOS SDKs. (MapKit’s `MKOverlayPathRenderer.lineDashPattern` property is measured in screen points.)

[2016-12-22 19:34] nickidlugash commented on #633
@mollymerp sounds like this is the best option.

If we do this, is it possible to also refactor the function behavior of `line-dasharray` to interpolate at integer zoom levels (similar to the behavior of layout number properties), as opposed to being piecewise? I believe that the reason this wasn't done in the first place is that line dasharrays are rendered like line patterns, so we matched the f

[2016-12-22 21:17] jfirebaugh commented on #626
@lucaswoj I'm not 100% sure I understand what you're proposing. Is it like:

* A fill layer without a `tile-filter` property renders feature geometries from a source (existing behavior)
* A fill layer _with_ a `tile-filter` property ignores source features, and instead fills the entire tile with a solid color or pattern

I think that behavior would make the rendering model more confusing, because

[2016-12-23 14:09] lucaswoj commented on #626
Eek. A few things I said in there were confusing / wrong. Let me try to clarify:

-----

I was thinking so much about the `background` -> `fill` / `fill` -> `polygon` mapping that I wrote this comment as if that had already happened. What I intended is better specified by

[code]

-----

Here I was thinking about exposing `tile-filter` on raster _layers_. For example, on the satellite / hybrid sty

[2016-12-23 14:23] lucaswoj opened #634 "Refactor the style validator to use an off-the-shelf format like JSON Schema"
Our ad-hoc JSON format that mixes validation logic & metadata can be tricky to work with.

Basing our validation on a tool like [JSON Schema](http://json-schema.org/documentation.html) would simplify and provide structure to our validation logic. It my also allow us to use some 3rd party validation, debugging, & documentation tools.

[2016-12-23 14:28] lucaswoj commented on #162
This is a very common complaint about the erganomics of our API.

An alternate proposal that avoids the need to invent a new abstraction layer for our library is allowing "inline" source declarations:

[code]

[2016-12-23 14:34] lucaswoj opened #635 "Eliminate the syntactic distinction between "paint" and "layout" properties"
The differences between "paint", "layout", and "top-level" properties are becoming increasingly nuanced. Without a firm knowledge of our implementation, it can be hard to reason about the behaviour of paint properties vs layout properties, especially in the context of data-driven styling. It is worth considering eliminating the syntactic distinction between "paint" and "layout" properties (as Stud

[2016-12-23 14:36] lucaswoj opened #636 "Rename "text-halo" to "text-stroke""
See the discussion here: https://github.com/mapbox/mapbox-gl-style-spec/issues/379

[2016-12-23 14:36] lucaswoj opened #637 "Provide "line-stroke-*" properties"

[2016-12-23 14:41] lucaswoj opened #638 "Camelcase all keys"
Working with Mapbox style spec objects in Javascript is less ergonomic because all the dashcase properties must be quoted when they are used as identifiers.

[code]

They look odd in conjunction with the camelcased source properties #175

[2016-12-23 14:47] lucaswoj commented on #142
Closed in favor of https://github.com/mapbox/mapbox-gl-style-spec/issues/286

[2016-12-23 14:47] #142 closed

[2016-12-23 14:58] tmcw commented on #638
Oof, that is one breaking change, but I support it 100%. We used dashes in CartoCSS too, from the CSS lineage, and in simplestyle-spec, and they're just inconvenient for no reason. This would also bring property names closer to what @1ec5 wants on the native side.

[2016-12-23 15:05] mourner commented on #162
That's a nice idea! Easy to implement and an instant improvement of ergonomics in many cases. The source would then have the same `id` as the layer, right?

[2016-12-23 16:18] lucaswoj commented on #162
Thanks @mourner. 😄 Giving the source & layer the same `id` is a good idea. That'd make it easy to reference the source again from other layers. The one challenge is figuring out what to do in the unlikely event of a name collision.

[2016-12-23 16:30] jfirebaugh commented on #162
We could require that the `id` be unused among both layer IDs and source IDs. (Not in general, just when `addLayer` is used in this way.)

[2016-12-23 16:33] lucaswoj opened #640 "Support using feature filters with tiles from geojson-vt"
Migrated from https://github.com/mapbox/feature-filter/issues/20

[2016-12-23 16:33] jfirebaugh commented on #634
I think there are certain requirements that can't be captured in JSON Schema and will continue to require custom validation, but fewer than we have right now with our home grown schema.

[2016-12-23 16:36] jfirebaugh commented on #637
If we add these, we should remove `line-gap-width`.

[2016-12-23 16:43] mourner commented on #640
I think we should migrate to using `properties` everywhere for consistency. cc @gmaclennan

[2016-12-23 16:44] mourner commented on #640
-> https://github.com/mapbox/geojson-vt/issues/80

[2016-12-23 16:44] #640 closed, assigned to nobody

[2016-12-23 18:05] 1ec5 commented on #638
I have no opinion either way. Camel case is always applied systematically, so it poses no barrier to people developing against our Android, iOS, or macOS SDKs, where we’ve exposed symbolic constants or method names instead of requiring strings to be hard-coded (as JavaScript does). Besides, the Android SDK uses [SCREAMING_SNAKE_CASE](https://www.mapbox.com/android-sdk/api/4.2.1/com/mapbox/mapboxsd

[2016-12-23 19:26] tmcw commented on #201
Another benefit to this change is that it'd reduce the [difference between the iOS SDK's reinterpretation of properties](https://github.com/mapbox/mapbox-gl-native/blob/master/platform/darwin/scripts/style-spec-cocoa-conventions-v8.json) and the style spec / gl-js's interface to them. It's a breaking change, which is a bummer, but I think it's worthwhile on a fixing-the-system level and also makes

[2017-01-02 18:55] jfirebaugh opened #643 "Prohibit ["has", "$type"] and ["!has", "$type"]"
We have [a validation](https://github.com/mapbox/mapbox-gl-style-spec/blob/b87a7bb2b073cace5fb42cb6b515af4fbd1a11ca/lib/validate/validate_filter.js#L38-L38) prohibiting comparison operators with `$type`. This prohibition should extend to `has` and `!has` as well.

[2017-01-02 19:16] ajashton commented on #636
The functionality of the current `text-halo` is much closer to CSS's `text-shadow` than `text-stroke`. The halo is only ever outset from the symbol, whereas a stroke is centered directly on the outline of the symbol. The halo can be blurred while strokes cannot. Strokes can have various dasharrays, round/bevel/miter joins, and offsets but halos cannot.

Going with 'stroke' for the circle symbol as

[2017-01-03 01:16] nickidlugash commented on #637
@jfirebaugh @lucaswoj can you please elaborate on why we should do this?

[2017-01-03 01:22] jfirebaugh commented on #637
Because it's equivalent functionality -- you can replace a pair of fill and casing layers with a single layer with both fill and stroke, or a standalone gapped line with a like with a stroke and transparent fill.

If we don't also remove `line-gap-width`, then we are adding complexity to the renderer without meaningfully expanding its functionality. I would oppose `line-stroke-*` in that case.

[2017-01-03 01:42] nickidlugash commented on #636
Agree with @ajashton on all the above points.

And using a Photoshop analogy, the current `text-halo` is much closer to the outer-glow blend mode than the stroke blend mode.

[2017-01-03 01:55] nickidlugash commented on #637
Ok, that makes sense. I misunderstood this ticket and thought we were just renaming `line-` to be `line-stroke`.

Just noting that you _will_ still need two layers to create a fill and casing, since they need to be drawn in different parts of the drawing order. However, overall, this will still be more convenient then the current system because the `line-width` for both the fill and casing will be

[2017-01-03 18:37] ajashton commented on #104
A lot of different use cases and edge cases have come up in this issue, and they would all be nice to solve. But the initial basic idea of falling back from one field to another if the first one is undefined would still unlock a number of important data/cartography needs. Eg being able to greatly expand the number of label languages in vector tile sources without bloating them with mostly-duplicat

[2017-01-04 06:35] stevage commented on #567
Thanks very much for addressing this issue. I've been bitten a few times.

Things that happen to me:

- at some point in my googling, I end up on the [Mapbox GL data-driven style reference](https://www.mapbox.com/help/gl-dds-ref/) but then later I'm looking in the Style Spec, and confused why I can't find the bit I remember from the style reference. Should there be some links from the style spec t

[2017-01-05 07:19] fuzhenn opened #644 "Add support for more geometry types in feature-filter"
feature-filter only supports basic geometry types now:
https://github.com/mapbox/mapbox-gl-style-spec/blob/mb-pages/lib/feature_filter/index.js#L5
[code]

Could you consider to add support for the following types?
[code]

It would be very useful for third-parties to integrate "feature-filter" into their projects.

Thanks!

[2017-01-05 10:35] 1ec5 opened #645 "Rename circle-pitch-scale to circle-scale-alignment"
`circle-pitch-scale` should be renamed `circle-scale-alignment`.

https://github.com/mapbox/mapbox-gl-style-spec/issues/459#issuecomment-224957055 proposed `{circle,icon,text}-pitch-scale` properties as complements to the `{circle,icon,text}-{rotation,pitch}-alignment` properties. As discussed in mapbox/mapbox-gl-native#6098, the `circle-pitch-scale` name incorrectly implies a numeric value. It’s

[2017-01-05 10:36] 1ec5 commented on #459
`circle-pitch-scale`, `icon-pitch-scale`, and `text-pitch-scale` should be renamed `circle-scale-alignment`, `icon-scale-alignment`, and `text-scale-alignment`, respectively: #645.

[2017-01-05 10:37] 1ec5 commented on #645
An alternative to `*-scale-alignment` would be `*-size-alignment`, which would be consistent with `icon-size` and `text-size`.

[2017-01-05 10:58] 1ec5 opened #646 "Rename text-field to text"
The `text-field` property should be renamed to simply `text`.

The name `text-field` makes it sound like the property was originally intended to identify a field in the feature’s properties object. That happens to be what this property is usually used for, but by that logic we’d have `icon-image-field` instead of `icon-image`. Given the enthusiasm for supporting more expressive values for this pro

[2017-01-05 11:01] 1ec5 opened #647 "Rename line-dasharray to line-dash-array"
The `line-dasharray` property should be renamed `line-dash-array`. The missing dash really bugs me, and if we were to go through with #638, `lineDasharray` would look sloppy.

/cc @lucaswoj @tmcw

[2017-01-05 11:03] 1ec5 commented on #647
Note that the iOS and macOS SDKs call this property `lineDashPattern` [for consistency with the platform](https://developer.apple.com/search/?q=lineDashPattern&type=Reference) (and MapKit).

[2017-01-05 11:10] 1ec5 opened #648 "Rename icon-rotate, text-rotate to icon-rotation, text-rotation"
The `icon-rotate` and `text-rotate` properties should be renamed `icon-rotation` and `text-rotation`, respectively, for consistency with `icon-rotation-alignment` and `text-rotation-alignment`. (It would also happen to be consistent with the iOS and macOS SDKs, which renamed these properties as part of mapbox/mapbox-gl-native#6098.)

/cc @lucaswoj @jfirebaugh

[2017-01-05 11:18] 1ec5 commented on #648
Also, `raster-hue-rotate` would become `raster-hue-rotation`.

[2017-01-05 11:32] mourner commented on #647
AFAIR the original reason there's no dash is that SVG spec doesn't have it too, e.g. https://developer.mozilla.org/ru/docs/Web/SVG/Attribute/stroke-dasharray, and we wanted it to be consistent with existing web specs.

[2017-01-05 14:42] tmcw commented on #644
Thanks for the suggestion, Fu! If you need functionality outside of style-spec's goals (specifically, to support the types in vector tiles and the syntax in the style spec), I'd recommend forking the project. This project is focused closely on the goals of Mapbox GL, and functionality that doesn't line up with that aim would likely go unmaintained.

[2017-01-05 14:42] #644 closed, assigned to nobody

[2017-01-05 15:07] abenrob opened #649 "filter or style mvt layer by external function"
How would it be possible to filter or apply style functions based on the results of an external function? That is to say a function that derives it's result from data not contained in the mvt source?

For example, I have mvt tiles returning census grid coverage for an area. There are lots and lots of polygons (thousands and thousands.) I would like to be able to filter and/or style these based on

[2017-01-05 17:04] jfirebaugh commented on #648
Duplicate of #201.

[2017-01-05 17:04] #648 closed, assigned to nobody

[2017-01-05 19:32] lucaswoj commented on #646
This fits nicely with #218

[2017-01-06 10:53] andrewharvey commented on #476
I understand this issue as _Add "raster-colorizer" property for raster layers_  similar the same feature in TileMill https://www.mapbox.com/blog/tilemill-raster-colorizer/.

I see a lot of value in supporting this. It would make it easy to produce the flood maps from https://www.mapbox.com/blog/terrain-rgb/ in GL JS, as simple as setting the raster-colorizer paint property (a user driven height va

[2017-01-06 13:23] Scarysize commented on #476
Thanks for the update on the issue, I left a comment at the corresponding issue in the mapbox-gl-js repo.

[2017-01-06 22:43] 1ec5 opened #650 "Rename text-size to text-font-size"
The `text-size` property should be renamed `text-font-size`. As part of #218, it would be shortened to `font-size`.

Contrary to the property’s current name, it does not specify the dimensions of the overall label the way `text-max-width` does. Instead, it specifies the font size in pixels. This inconsistency means a developer using the iOS or macOS SDK would be tempted to set the property to a `C

[2017-01-09 23:06] stevage opened #651 "Hard to see category of property in documentation"
Just a usability issue I run into a lot with the docs. Say you're looking at this property: https://www.mapbox.com/mapbox-gl-style-spec/#paint-icon-translate-anchor

You can't see whether it's a layout, paint, etc property. The only way to find that out is to scroll up, sometimes quite a long way.

It would be great if it was somehow possible to see that information on the same page as the propert

[2017-01-10 15:38] ahocevar opened #652 "Include 3rd party SDKs in sdk-support object?"
I was wondering if it would be desirable to include 3rd party SDKs like [ol-mapbox-style](https://github.com/boundlessgeo/ol-mapbox-style) in the `sdk-support` object. Something like
[code]
The advantage would be an up-to-date information on supported features for those SDKs, and a way for utilities like style editors to only offer features that are supported in the target SDK.

This idea was firs

[2017-01-10 16:02] tmcw commented on #652
I'm not opposed to this idea technically, and think it's much better than implicitly requiring you to fork the project. The chief concern is maintenance, really: with the Mapbox SDKs, we have the ability to ask our coworkers to keep the sdk-support updated, and have the leverage of being coworkers.

If we do start including 3rd party projects, I think we'd need

- An agreement that the support lev

[2017-01-10 16:26] ahocevar commented on #652
Thanks for your comment @tmcw. I'd be 100% supportive of the rules you suggest.

For keeping the support levels up to date, we can make update pull requests part of the release process.

If there is general agreement on such a procedure, is there anything I can help with for establishing it?

[2017-01-10 19:20] lucaswoj opened #653 "Mark all features which are not supported in all SDKs as experimental & API unstable"
Credit for this elegant design goes to @jfirebaugh 🙇

When we add new features, especially when we're in the process of porting features across platforms, we often need to revise our initial API design.

We currently do a poor job of communicating to our users which APIs are stable and which APIs are likely to change.

We should prominently mark that any feature which is not supported in all SDKs

[2017-01-11 21:05] mollymerp commented on #651
Thanks for your request @stevage - I have run into this as well. We'd be thrilled to see a PR implementing one of those options. I lean towards the second two options for clarity.

[2017-01-13 10:18] planemad opened #654 "Cannot filter properties beginning with '@'"
A Mapbox tileset generated with data exported from OSM overpass has the metadata properties prefixed with `@` eg. `@id`, `@user`. While trying to filter this property, I get the following error:

[code]

Is there a workaround to this apart from renaming the property in my tileset?

[2017-01-13 10:33] mourner commented on #654
Probably no workaround — we'll have to remove that check in the style-spec validator ([here](https://github.com/mapbox/mapbox-gl-style-spec/blob/mb-pages/lib/validate/validate_filter.js)). It was relevant when the spec had the concept of constants, but no longer.

[2017-01-14 18:09] ImreSamu commented on #654
same problem with:  [Mapbox OSM QA TILES](http://osmlab.github.io/osm-qa-tiles/)  (`@version` `@user` ...  )

[2017-01-15 02:30] EwenH commented on #320
Thanks @wheredoesyourmindgo - This is so much work for a small item (I want to show the wind direction) however your process sounds logical.

I shall be some time...

[2017-01-17 21:26] 1ec5 commented on #653
How does this relate to the SDKs’ use of semantic versioning? The Android and iOS SDKs and node-mapbox-gl-native are all past v1.0, which means a change to an “experimental” API would require a major version bump, just like a change to any other API. The iOS SDK has [carved out some wiggle room](https://github.com/mapbox/mapbox-gl-native/wiki/Versions-and-tagging#mapbox-ios-sdk) for undocumented A

[2017-01-17 21:30] jfirebaugh commented on #653
The proposal is to exclude features marked as experimental from semantic versioning requirements. They would be free to change in backward-incompatible ways without a major version change for the SDK as a whole.

[2017-01-17 21:51] 1ec5 commented on #653
I’d be against a general strategy of marking new APIs as unstable. Backwards compatibility is a big deal for iOS and macOS applications. As far as I can tell, the culture around CocoaPods, Carthage, and Cocoa frameworks in general doesn’t allow for parts of the API to be exempted from semantic versioning requirements. There’s no such thing as an “alpha class” or “beta method”. We have three strate

[2017-01-17 22:10] 1ec5 commented on #653
I neglected to mention a very important fourth mitigation strategy: prereleases. Android and iOS SDK releases spend a lot of time in gestation. Alpha and beta releases allow us to finalize a feature’s design and implementation before we expect developers to rely on it in production code. The iOS SDK has [specific criteria](https://github.com/mapbox/mapbox-gl-native/wiki/Versions-and-tagging#mapbox

[2017-01-18 18:03] lucaswoj commented on #653
While a feature may be well designed and stable within the context of the iOS SDK, porting the feature to another platform often inspires / requires design changes.

This sounds like a solid approach.

 1. A majority of the time, features are implemented in GL JS first and will have their "experimental" designation lifted by virtue of their implementation in the native SDKs.
 2. The rest of the ti

[2017-01-18 18:25] 1ec5 commented on #653
To reiterate, undocumented APIs might as well not exist: hypothetically, no examples about alternative projections would be published until alternative projections are supported on all platforms, and any blog posts would avoid implying that developers can try out the API. We’d indeed create pressure to get parity on each platform before calling alternative projections done.

The downside is that W

[2017-01-18 18:46] jfirebaugh commented on #653
I don't think it's tenable for GL JS to publish all releases as "prerelease" in periods where it has features that the mobile SDKs do not, and where the implementation in mobile SDKs is likely to require specification or API design changes. Concretely, that would mean that GL JS would have to be on "prerelease" status right now, and for the past year or more.

@1ec5 Can I kindly ask you to reconsi

[2017-01-18 19:24] 1ec5 commented on #653
Right, we’d obviously need to avoid a prolonged beta testing phase. This speaks to the “healthy pressure” @lucaswoj refers to.

Perhaps I’m misunderstanding the purpose of this ticket. I understood the idea to be that every SDK would at times have to introduce an unstable API, documented as such but otherwise identical to a stable API, until a compatible API is implemented across all six platforms

[2017-01-18 21:11] ajashton commented on #359
Bridges!

<img src="https://cloud.githubusercontent.com/assets/126952/22083106/9398c33e-dd98-11e6-8c25-ed56934f1bb3.png" width="287" />

[2017-01-19 21:38] kronick opened #657 "Handle NaN as input to a style function"
Right now the binary search I wrote for [style function interpolation](https://github.com/mapbox/mapbox-gl-style-spec/blob/mb-pages/lib/function/index.js#L136) will go into an infinite loop if passed a NaN as input. I think @lucaswoj fixed this for most use cases by validating stops in the style json before they are passed to `interpolated()`.

But this check is not performed for other uses of thi

[2017-01-19 22:18] jfirebaugh commented on #657
I think this falls under the same category as #588, and should have the same behavior as whatever we decide there -- probably, return `undefined`, until there's some means of specifying a fallback result as in #480.

[2017-01-20 01:23] kronick commented on #657
@jfirebaugh Thanks-- I'll stand by until a decision is made there

[2017-01-20 15:01] kkaefer opened #658 "Placeholder areas"
I'm proposing to introduce placeholder areas: Annotations are currently located in a layer that is above all other layers, meaning that annotations will always cover existing features, such as labels. Similarly, when adding new layers, you'll have to explicitly name an existing layer as the beforeLayerID parameter to have the layer inserted below that layer.

Placeholder areas would be named regio

[2017-01-20 16:37] 1ec5 commented on #658
Annotations are specific to the native SDKs are aren't mentioned in this specification. Could the native SDKs (or mbgl) address the problem of inserting layers above annotations (but not the broader idea of placeholder areas) by keeping track of the bottommost annotation layer and always inserting before it?

[2017-01-20 16:40] 1ec5 commented on #658
Note that the automatically added point annotation layer is already used as a placeholder of sorts for view-backed annotations that are (due to platform limitations) always rendered atop the entire map, regardless of any layers that may sit above the point annotation layer in the style.

[2017-01-21 23:35] 1ec5 opened #659 "Canvas source type is undocumented"
#656 added a `canvas` source type along with some documentation in JSON format. But it looks like the more substantial HTML documentation for sources is hard-coded in docs/_generate/index.html, which needs to be updated.

/cc @lbud @lucaswoj

[2017-01-24 19:31] #659 closed, assigned to lbud

[2017-01-24 23:28] averas opened #662 "OSM copyright and update link on Mapbox Satellite"
Perhaps not the right to place an issue on this, but I wonder why the attribution for Mapbox Satellite (https://api.mapbox.com/v4/mapbox.satellite.json) contains an OSM copyright notice and an "Improve this map" link. Neither really make sense unless there are vector layers placed on top, but these will be provided by other sources which also contain these references.

If one only renders a clean

[2017-01-24 23:32] jfirebaugh commented on #662
The water mask of Mapbox Satellite is calculated using OpenStreetMap data -- for example coastlines, piers, etc.

[2017-01-24 23:32] #662 closed, assigned to nobody

[2017-01-24 23:34] averas commented on #662
@jfirebaugh Ah, alright.. but the "Improve this map" link? For the same reason? Do you receive updates on the satellite raster maps via https://www.mapbox.com/map-feedback?

[2017-01-25 02:04] ajashton commented on #289
When dealing with transparent overlapping shapes and subtle color shifts the aliased polygons tend to actually look better (especially on hidpi). We have fill-antialias disabled in hillshading layers for several styles to avoid problems with overlapping transparency (note both the seams due to lack of buffers and the darker outline around the full outline of each hillshade polygon):

![screenshot

[2017-01-25 04:30] andrewharvey commented on #658
This could be useful in the GL JS context as well to put client side layers (such as annotations; basically extra layers in the application code not from the Studio Style) below the labels from the Style. With the default Mapbox styles, this usually means for Streets a beforeLayer of `housenum-label` and for Satellite Streets a beforeLayer of `waterway-label` (event though `ferry-label` is lower).

[2017-01-25 06:44] 1ec5 commented on #658
Since a style JSON file is expected to be platform-agnostic, it shouldn’t assume support for a platform-specific feature – annotations in this case, but the `canvas` layer type added in mapbox/mapbox-gl-style-spec#656 is problematic for the same reason.

A no-op “divider” layer could be useful for a developer to cede control over the exact z-ordering of a runtime-inserted layer to their style desi

[2017-01-25 19:58] lbud commented on #171
Came up again in https://github.com/mapbox/mapbox-gl-js/issues/4045

[2017-01-25 20:54] nickidlugash commented on #635
This sounds good generally, but just want to flag that it may make the definition of a `ref` sound more convoluted.

[2017-01-25 21:13] lucaswoj commented on #635
@nickidlugash We're getting rid of `ref`s too 😄  As of now, `ref` is a no-op in GL JS.

[2017-01-25 22:25] jfirebaugh opened #664 "Validator should check for attempts to use {interpolation} syntax in DDS properties"
Style validation should check for attempts to use "{interpolation}" syntax in properties that aren't `text-field` or `icon-image`, and output an error message that provides the correct use of a data-driven property.

E.g. if the validator sees `"icon-rotate": "{rotation}"`, the error message could be: "The `icon-rotate` property does not support string interpolation syntax. Use a property function

[2017-01-26 21:33] #654 closed, assigned to nobody

[2017-01-26 21:34] jfirebaugh commented on #658
Previously: https://github.com/mapbox/mapbox-gl-styles/issues/34, https://github.com/mapbox/mapbox-gl-styles/issues/258.

[2017-01-26 21:45] jfirebaugh commented on #649
It sounds like you have a good sense of the current ways to approach this and the tradeoffs. I'll link https://www.mapbox.com/mapbox-gl-js/example/data-join/ just as another example. https://github.com/mapbox/mapbox-gl-js/projects/2 is we're planning on for the future. Related discussion in https://github.com/mapbox/mapbox-gl-js/issues/1399 and other issues.

[2017-01-26 21:45] #649 closed, assigned to nobody

[2017-01-26 21:52] jfirebaugh commented on #279
Closing -- we've had lots of problems with GL_LINES. Best avoided.

[2017-01-26 21:52] #279 closed

[2017-01-26 21:53] jfirebaugh commented on #162
This was implemented.

[2017-01-26 21:53] #162 closed

[2017-01-26 23:58] jfirebaugh opened #669 "Categorical functions became non-strict"
Prior to https://github.com/mapbox/mapbox-gl-function/pull/32, categorical functions were strict about types: a stop such as `["1", 1]` would not match a numeric property value `1`, and vice versa. But now that stop domain values are used as object keys, everything is coerced to a string, and there's no distinction between strings and numbers.

For comparison, filters are [strict about types](http

[2017-01-27 00:00] jfirebaugh commented on #669
The current categorical function implementation in gl-native (in https://github.com/mapbox/mapbox-gl-native/pull/7372) is also strict.

[2017-01-27 00:32] #664 closed, assigned to jfirebaugh

[2017-01-27 03:13] #529 closed, assigned to jfirebaugh

[2017-01-27 23:00] kronick commented on #669
@jfirebaugh Ah good catch. Would it be a good solution to use a more purpose-built hash map implementation (i.e. https://www.npmjs.com/package/hashmap) if performance is comparable? That package looks like it will keep type information in tact: https://www.npmjs.com/package/hashmap#no-stringification

If that sounds like a good approach to you, I can try it out.

[2017-01-28 00:30] jfirebaugh commented on #669
That kind of approach was my first thought as well, but I think we can get away with a simpler solution given that all stop domain values are required to be the same type (something which is checked by the validator): record `typeof stops[0][0]` when we create `hashedStops` and then check that the input has the same type in `evaluateCategoricalFunction`.

[2017-01-28 01:11] kronick commented on #669
Ok, so if I understand: categorical functions need to (1) be strict about matching, and (2) the style spec forbids mixed types in a categorical function.

- Where do we enforce (2)? If we enforce it in the style JSON parsing, what should `createFunction()` do if it gets a stops array with mixed types if/when this module is used elsewhere?
- What should `evaluateCategoricalFunction()` return if its

[2017-01-28 01:31] jfirebaugh commented on #669
(2) is enforced [here](https://github.com/mapbox/mapbox-gl-style-spec/blob/bf1577c7094116e009bdcdea67d10af7b32c241b/lib/validate/validate_function.js#L155-L157). It's true that it's possible to use `createFunction` without running validation first, but I think we're best off making that the responsibility of downstream code and having `createFunction` assume validity as a precondition. (It already

[2017-02-01 17:49] jfirebaugh commented on #609
Fixed in https://github.com/mapbox/mapbox-gl-js/commit/84d20638c91bfc948d1c8d7d8745f222c801d145 🎉

[2017-02-01 17:49] #609 closed, assigned to nobody

[2017-02-01 17:50] jfirebaugh commented on #604
⇢ #613

[2017-02-01 17:50] #604 closed, assigned to nobody

[2017-02-01 17:51] jfirebaugh commented on #494
https://github.com/mapbox/mapbox-gl-js/commit/84d20638c91bfc948d1c8d7d8745f222c801d145 makes this unnecessary.

[2017-02-01 17:51] #494 closed, assigned to nobody

[2017-02-01 17:52] jfirebaugh commented on #408
https://github.com/mapbox/mapbox-gl-js/commit/84d20638c91bfc948d1c8d7d8745f222c801d145 has tests of this sort.

[2017-02-01 17:52] #408 closed, assigned to nobody

[2017-02-01 21:45] lucaswoj commented on #47
This issue was moved to mapbox/mapbox-gl-js#4077

[2017-02-01 21:46] #47 closed

[2017-02-01 21:50] lucaswoj commented on #84
This issue was moved to mapbox/mapbox-gl-js#4078

[2017-02-01 21:50] #84 closed

[2017-02-01 21:52] lucaswoj commented on #104
This issue was moved to mapbox/mapbox-gl-js#4079

[2017-02-01 21:52] #104 closed

[2017-02-01 21:54] lucaswoj commented on #171
This issue was moved to mapbox/mapbox-gl-js#4081

[2017-02-01 21:54] #171 closed

[2017-02-01 21:54] lucaswoj commented on #201
This issue was moved to mapbox/mapbox-gl-js#4082

[2017-02-01 21:54] lucaswoj commented on #218
This issue was moved to mapbox/mapbox-gl-js#4083

[2017-02-01 21:55] #218 closed

[2017-02-01 21:55] lucaswoj commented on #219
This issue was moved to mapbox/mapbox-gl-js#4084

[2017-02-01 21:55] #219 closed

[2017-02-01 21:58] lucaswoj commented on #220
This issue was moved to mapbox/mapbox-gl-js#4086

[2017-02-01 21:58] #220 closed

[2017-02-01 22:00] lucaswoj commented on #222
Closing this as a "wontfix" for now. We can open a new ticket if there's a newfound pressing need or implementation concept.

[2017-02-01 22:00] #222 closed

[2017-02-01 22:04] lucaswoj commented on #223
This issue was moved to mapbox/mapbox-gl-js#4087

[2017-02-01 22:04] #223 closed

[2017-02-01 22:04] lucaswoj commented on #240
This issue was moved to mapbox/mapbox-gl-js#4088

[2017-02-01 22:05] #240 closed

[2017-02-01 22:09] lucaswoj commented on #233
This issue was moved to mapbox/mapbox-gl-js#4089

[2017-02-01 22:09] #233 closed

[2017-02-01 22:10] lucaswoj commented on #273
This issue was moved to mapbox/mapbox-gl-js#4090

[2017-02-01 22:11] #273 closed

[2017-02-01 22:11] lucaswoj commented on #284
This issue was moved to mapbox/mapbox-gl-js#4091

[2017-02-01 22:12] lucaswoj commented on #286
This issue was moved to mapbox/mapbox-gl-js#4092

[2017-02-01 22:13] lucaswoj commented on #289
This issue was moved to mapbox/mapbox-gl-js#4093

[2017-02-01 22:13] #289 closed

[2017-02-01 22:13] lucaswoj commented on #325
This issue was moved to mapbox/mapbox-gl-js#4094

[2017-02-01 22:13] #325 closed

[2017-02-01 22:14] lucaswoj commented on #349
This issue was moved to mapbox/mapbox-gl-js#4095

[2017-02-01 22:14] lucaswoj commented on #359
This issue was moved to mapbox/mapbox-gl-js#4096

[2017-02-01 22:14] #359 closed

[2017-02-01 22:14] lucaswoj commented on #361
This issue was moved to mapbox/mapbox-gl-js#4097

[2017-02-01 22:15] #361 closed

[2017-02-01 22:15] lucaswoj commented on #368
This issue was moved to mapbox/mapbox-gl-js#4098

[2017-02-01 22:15] #368 closed, assigned to nobody

[2017-02-01 22:15] lucaswoj commented on #378
This issue was moved to mapbox/mapbox-gl-js#4099

[2017-02-01 22:16] lucaswoj commented on #380
Merged into https://github.com/mapbox/mapbox-gl-js/issues/1485

[2017-02-01 22:16] #380 closed, assigned to nobody

[2017-02-01 22:17] lucaswoj commented on #321
This issue was moved to mapbox/mapbox-gl-js#4100

[2017-02-01 22:17] #201 closed

[2017-02-01 22:18] lucaswoj commented on #224
This hasn't come up in a long time. Closing as stale.

[2017-02-01 22:18] #224 closed

[2017-02-01 22:19] lucaswoj commented on #245
This issue was moved to mapbox/mapbox-gl-js#4101

[2017-02-01 22:19] #245 closed

[2017-02-01 22:19] lucaswoj commented on #284
This issue was moved to mapbox/mapbox-gl-js#4102

[2017-02-01 22:20] lucaswoj commented on #286
This issue was moved to mapbox/mapbox-gl-js#4103

[2017-02-01 22:21] #378 closed, assigned to nobody

[2017-02-01 22:21] #284 closed

[2017-02-01 22:22] #286 closed

[2017-02-01 22:22] #321 closed

[2017-02-01 22:22] #349 closed

[2017-02-01 22:24] #388 closed, assigned to nobody

[2017-02-01 22:24] lucaswoj commented on #391
This issue was moved to mapbox/mapbox-gl-js#4104

[2017-02-01 22:24] #391 closed, assigned to nobody

[2017-02-01 22:24] lucaswoj commented on #404
This issue was moved to mapbox/mapbox-gl-js#4105

[2017-02-01 22:24] #404 closed, assigned to nobody

[2017-02-01 22:25] lucaswoj commented on #405
This issue was moved to mapbox/mapbox-gl-js#4106

[2017-02-01 22:25] lucaswoj commented on #414
This issue was moved to mapbox/mapbox-gl-js#4107

[2017-02-01 22:25] #414 closed, assigned to nobody

[2017-02-01 22:26] lucaswoj commented on #417
This issue was moved to mapbox/mapbox-gl-js#4108

[2017-02-01 22:26] lucaswoj commented on #425
Merged into https://github.com/mapbox/mapbox-gl-js/issues/3889

[2017-02-01 22:26] #425 closed, assigned to nobody

[2017-02-01 22:26] lucaswoj commented on #427
This issue was moved to mapbox/mapbox-gl-js#4109

[2017-02-01 22:26] #427 closed, assigned to nobody

[2017-02-01 22:27] lucaswoj commented on #433
This issue was moved to mapbox/mapbox-gl-js#4110

[2017-02-01 22:27] lucaswoj commented on #434
This issue was moved to mapbox/mapbox-gl-js#4111

[2017-02-01 22:27] #434 closed, assigned to nobody

[2017-02-01 22:28] lucaswoj commented on #437
This issue was moved to mapbox/mapbox-gl-js#4112

[2017-02-01 22:28] #437 closed, assigned to nobody

[2017-02-01 22:30] lucaswoj commented on #438
This issue was moved to mapbox/mapbox-gl-js#4113

[2017-02-01 22:30] #438 closed, assigned to nobody

[2017-02-01 22:30] lucaswoj commented on #439
This issue was moved to mapbox/mapbox-gl-js#4114

[2017-02-01 22:40] #405 closed, assigned to nobody

[2017-02-01 22:41] #417 closed, assigned to nobody

[2017-02-01 23:05] lucaswoj commented on #429
This issue was moved to mapbox/mapbox-gl-js#4117

[2017-02-01 23:05] #429 closed, assigned to nobody

[2017-02-01 23:06] #433 closed, assigned to mollymerp

[2017-02-01 23:06] #439 closed, assigned to nobody

[2017-02-01 23:06] lucaswoj commented on #444
This issue was moved to mapbox/mapbox-gl-js#4118

[2017-02-01 23:07] lucaswoj commented on #452
This issue was moved to mapbox/mapbox-gl-js#4119

[2017-02-01 23:08] lucaswoj commented on #459
This issue was moved to mapbox/mapbox-gl-js#4120

[2017-02-01 23:08] #459 closed, assigned to nobody

[2017-02-01 23:08] lucaswoj commented on #473
This issue was moved to mapbox/mapbox-gl-js#4121

[2017-02-01 23:08] lucaswoj commented on #475
This issue was moved to mapbox/mapbox-gl-js#4122

[2017-02-01 23:08] #475 closed, assigned to nobody

[2017-02-01 23:09] lucaswoj commented on #476
Merged into https://github.com/mapbox/mapbox-gl-js/issues/3889

[2017-02-01 23:09] #476 closed, assigned to nobody

[2017-02-01 23:11] lucaswoj commented on #479
This issue was moved to mapbox/mapbox-gl-js#4123

[2017-02-01 23:11] #479 closed, assigned to nobody

[2017-02-01 23:18] lucaswoj commented on #480
This issue was moved to mapbox/mapbox-gl-js#4124

[2017-02-01 23:19] lucaswoj commented on #481
This issue was moved to mapbox/mapbox-gl-js#4125

[2017-02-01 23:19] lucaswoj commented on #489
This issue was moved to mapbox/mapbox-gl-js#4126

[2017-02-01 23:19] #489 closed, assigned to nobody

[2017-02-01 23:19] lucaswoj commented on #491
This issue was moved to mapbox/mapbox-gl-js#4127

[2017-02-01 23:19] #491 closed, assigned to nobody

[2017-02-01 23:20] #444 closed, assigned to nobody

[2017-02-01 23:20] #452 closed, assigned to nobody

[2017-02-01 23:20] #473 closed, assigned to nobody

[2017-02-01 23:20] #480 closed, assigned to jfirebaugh

[2017-02-01 23:21] #481 closed, assigned to nobody

[2017-02-01 23:22] lucaswoj commented on #496
This issue was moved to mapbox/mapbox-gl-js#4128

[2017-02-01 23:22] lucaswoj commented on #499
This issue was moved to mapbox/mapbox-gl-js#4129

[2017-02-01 23:22] lucaswoj commented on #513
This issue was moved to mapbox/mapbox-gl-js#4130

[2017-02-01 23:22] lucaswoj commented on #520
This issue was moved to mapbox/mapbox-gl-js#4131

[2017-02-01 23:23] #520 closed, assigned to nobody

[2017-02-01 23:23] lucaswoj commented on #536
This issue was moved to mapbox/mapbox-gl-js#4132

[2017-02-01 23:23] lucaswoj commented on #543
This issue was moved to mapbox/mapbox-gl-js#4133

[2017-02-01 23:23] #543 closed, assigned to nobody

[2017-02-01 23:24] lucaswoj commented on #545
This issue was moved to mapbox/mapbox-gl-js#4134

[2017-02-01 23:24] #545 closed, assigned to nobody

[2017-02-01 23:24] lucaswoj commented on #547
This issue was moved to mapbox/mapbox-gl-js#4135

[2017-02-01 23:24] lucaswoj commented on #548
This issue was moved to mapbox/mapbox-gl-js#4136

[2017-02-01 23:25] #496 closed, assigned to nobody

[2017-02-01 23:25] #499 closed, assigned to nobody

[2017-02-01 23:25] #513 closed, assigned to nobody

[2017-02-01 23:25] #536 closed, assigned to nobody

[2017-02-01 23:25] #547 closed, assigned to nobody

[2017-02-01 23:25] #548 closed, assigned to nobody

[2017-02-01 23:26] lucaswoj commented on #550
This issue was moved to mapbox/mapbox-gl-js#4137

[2017-02-01 23:26] #550 closed, assigned to nobody

[2017-02-01 23:26] lucaswoj commented on #551
This issue was moved to mapbox/mapbox-gl-js#4138

[2017-02-01 23:26] #551 closed, assigned to nobody

[2017-02-01 23:26] lucaswoj commented on #552
Duplicate of #488

[2017-02-01 23:26] #552 closed, assigned to nobody

[2017-02-01 23:28] lucaswoj commented on #561
We have documented the `fill-outline-color` in the docs and plan to address this problem by removing `fill-outline-color`

[2017-02-01 23:28] #561 closed, assigned to nobody

[2017-02-01 23:28] lucaswoj commented on #567
This issue was moved to mapbox/mapbox-gl-js#4139

[2017-02-01 23:29] lucaswoj commented on #569
This issue was moved to mapbox/mapbox-gl-js#4140

[2017-02-01 23:29] #569 closed, assigned to nobody

[2017-02-01 23:29] lucaswoj commented on #575
This issue was moved to mapbox/mapbox-gl-js#4141

[2017-02-01 23:29] #575 closed, assigned to nobody

[2017-02-01 23:29] lucaswoj commented on #577
This issue was moved to mapbox/mapbox-gl-js#4142

[2017-02-01 23:29] #577 closed, assigned to nobody

[2017-02-01 23:30] #567 closed, assigned to nobody

[2017-02-01 23:30] lucaswoj commented on #581
This issue was moved to mapbox/mapbox-gl-js#4143

[2017-02-01 23:30] #581 closed, assigned to nobody

[2017-02-01 23:31] lucaswoj commented on #582
This issue was moved to mapbox/mapbox-gl-js#4144

[2017-02-01 23:33] lucaswoj commented on #584
This issue was moved to mapbox/mapbox-gl-js#4145

[2017-02-01 23:33] #584 closed, assigned to nobody

[2017-02-01 23:34] lucaswoj commented on #588
This issue was moved to mapbox/mapbox-gl-js#4146

[2017-02-01 23:34] #588 closed, assigned to jfirebaugh

[2017-02-01 23:34] lucaswoj commented on #590
This issue was moved to mapbox/mapbox-gl-js#4147

[2017-02-01 23:34] lucaswoj commented on #583
This issue was moved to mapbox/mapbox-gl-js#4148

[2017-02-01 23:34] lucaswoj commented on #597
This issue was moved to mapbox/mapbox-gl-js#4149

[2017-02-01 23:35] lucaswoj commented on #600
This has been clarified as of  #604

[2017-02-01 23:35] #600 closed, assigned to nobody

[2017-02-01 23:35] #582 closed, assigned to jfirebaugh

[2017-02-01 23:35] #583 closed, assigned to nobody

[2017-02-01 23:35] #590 closed, assigned to nobody

[2017-02-01 23:35] #597 closed, assigned to nobody

[2017-02-01 23:36] lucaswoj commented on #602
This issue was moved to mapbox/mapbox-gl-js#4150

[2017-02-01 23:36] #602 closed, assigned to jfirebaugh

[2017-02-01 23:36] lucaswoj commented on #603
This issue was moved to mapbox/mapbox-gl-js#4151

[2017-02-01 23:36] #603 closed, assigned to nobody

[2017-02-01 23:36] lucaswoj commented on #606
This issue was moved to mapbox/mapbox-gl-js#4152

[2017-02-01 23:36] #606 closed, assigned to jfirebaugh

[2017-02-01 23:36] lucaswoj commented on #607
This issue was moved to mapbox/mapbox-gl-js#4153

[2017-02-01 23:37] lucaswoj commented on #613
This issue was moved to mapbox/mapbox-gl-js#4154

[2017-02-01 23:37] #613 closed, assigned to nobody

[2017-02-01 23:37] lucaswoj commented on #620
This issue was moved to mapbox/mapbox-gl-js#4155

[2017-02-01 23:37] #620 closed, assigned to nobody